<div class="applysmallmanager_dialog dialogJ assist_apply_dlg dialogJfix dialogJshadow ui-draggable" style="z-index: 50001; width: 550px; display:none;">
   <div class="uiDialogWrapper">
    <div class="dialogJtitle" style="cursor: move;">
     <span class="dialogJtxt">申请小吧主</span>
     <a href="javascript:void(0)" class="dialogJclose" title="关闭本窗口">&nbsp;</a>
    </div>
    <div class="dialogJcontent">
     <div class="dialogJbody" id="dialogJbody">
      <p class="requirement_title">本吧小吧主申请要求：</p>
      <ol class="requirement_wrap">
       <li>小吧主需要与大吧主一起担负着建设好本吧的使命，需要小吧主有强烈责任感和成就感。需要长期参与本吧的内容建设和治安维护，及时删除而已灌水贴、商业广告、与主题不相关以及百度官方禁止的贴子。</li>
      </ol>
      <!--<p class="assist_num">本吧目前已有小吧主5名，还有<span style="color:red;">5</span>个名额</p>-->
      <p class="apply_statement_title">申请感言：</p>
      <div class="statement_wrap j_statement_wrap">
       <textarea id="small_manager_content" class="ui_textfield statement j_statement"></textarea>
       <div class="w_limit_wrapper "></div>
      </div>
      <div class="btn_wrap">
       <p class="error_text"></p>
       <a href="javascript:void(0)" class="ui_btn ui_btn_m submit j_submit" id="small_manager_submit"><span><em>申&nbsp;请</em></span></a>
      </div>
     </div>
    </div>
   </div>
  </div>