<!DOCTYPE html>
<html>
 <head>
  <include file="Public:top" />
  <title>{$class_list.0.class_name}_Posutoba贴吧</title>
  <import type="css" file="theme,common,forum_class,forum_park" basepath="__PUBLIC__/common/css" />

  </head>
 <body>  
  <include file="Public:userbar" />
  <div id="local_flash_cnt"></div>
  <div class="wrap1">
   <div class="wrap2">
    <div class="page-container">
     <div class="search-sec">
      <include file="Public:head" />
     </div>
     <div class="container">
      <div class="content clearfix">
       <div class="left-sec" id="left-sec">
        <div class="f_class_title">
         全部贴吧分类
        </div>
        
        <div class="class_info">
         <h3 class="class_title"><a href="{:U('Forum/forumPark',array('pid'=>$class_list[0]['parent_id'],'cid'=>0))}" title="{$class_list.0.class_name}" class="{$class_list.0.class_icon}">{$class_list.0.class_name}</a></h3>
         <ul class="class_list clearfix" data-cid="{$Think.get.cid}">
         <foreach name="class_list" item="vo">
         <?php if($key>0):?>
          <li data-cid="{$vo.class_id}" class="<?php if($key==(count($class_list)-1)):?>last_tag<?php endif;?>">
          <a class="" href="{:U('Forum/forumPark',array('pid'=>$vo['parent_id'],'cid'=>$vo['class_id']))}" title="{$vo.class_name}">{$vo.class_name}</a></li>
          <?php endif;?>
          </foreach>
          </ul>
        </div>
       </div>
       <div class="right-sec">
        <div class="ba_class_title">
         {$class_list.0.class_name}
        </div>
        <!-- 
        <div class="bft_rcmd_forum">
         <span class="bft_rcmd_label" title="精选推荐"></span>
         <ul class="bft_forum_list clearfix">
          <li class="bft_forum_item"><a href="/f?kw=uniq" target="_blank" class="bft_forum"><img class="bft_forum_pic" target="_blank" href="/f?kw=uniq" src="http://imgsrc.baidu.com/forum/pic/item/a50f4bfbfbedab643b6ec1dcf436afc379311e89.jpg" alt="吧头像" />
            <div class="bft_forum_meta">
             <p class="bft_forum_name" title="uniq">uniq</p>
             <p class="bft_forum_p_num" title="28008">28008</p>
             <p class="bft_forum_m_num" title="319310">319310</p>
            </div></a></li>
          <li class="bft_forum_item"><a href="/f?kw=lorde" target="_blank" class="bft_forum"><img class="bft_forum_pic" target="_blank" href="/f?kw=lorde" src="http://imgsrc.baidu.com/forum/pic/item/7aec54e736d12f2ef876a4b24dc2d562843568f4.jpg" alt="吧头像" />
            <div class="bft_forum_meta">
             <p class="bft_forum_name" title="lorde">lorde</p>
             <p class="bft_forum_p_num" title="8755">8755</p>
             <p class="bft_forum_m_num" title="87836">87836</p>
            </div></a></li>
          <li class="bft_forum_item"><a href="/f?kw=exo%D1%B1%C2%B9%B0%C9%CD%EA%BD%E1%CE%C4%BF%E2" target="_blank" class="bft_forum"><img class="bft_forum_pic" target="_blank" href="/f?kw=exo%D1%B1%C2%B9%B0%C9%CD%EA%BD%E1%CE%C4%BF%E2" src="http://imgsrc.baidu.com/forum/pic/item/1e30e924b899a9014b187b841c950a7b0208f556.jpg" alt="吧头像" />
            <div class="bft_forum_meta">
             <p class="bft_forum_name" title="exo驯鹿吧完结文库">exo驯鹿...</p>
             <p class="bft_forum_p_num" title="20416">20416</p>
             <p class="bft_forum_m_num" title="69378">69378</p>
            </div></a></li>
          <li class="bft_forum_item"><a href="/f?kw=%B2%DC%B3%D0%D1%DC" target="_blank" class="bft_forum"><img class="bft_forum_pic" target="_blank" href="/f?kw=%B2%DC%B3%D0%D1%DC" src="http://imgsrc.baidu.com/forum/pic/item/aa18972bd40735fa803f020a9d510fb30e2408b1.jpg" alt="吧头像" />
            <div class="bft_forum_meta">
             <p class="bft_forum_name" title="曹承衍">曹承衍</p>
             <p class="bft_forum_p_num" title="4865">4865</p>
             <p class="bft_forum_m_num" title="32231">32231</p>
            </div></a></li> 
         </ul>
        </div>  -->
       <!-- 
        <div class="square_nav clearfix">
         <a class="renqi" href="#" onclick="return false;">人气最热</a>
         <a class="recent" href="/f/index/forumpark?cn=&amp;ci=0&amp;pcn=%D3%E9%C0%D6%C3%F7%D0%C7&amp;pci=0&amp;ct=1&amp;st=popular">最近流行</a>
        </div>
         -->
        <div class="ba_list clearfix" id="ba_list"> 
          <?php if($forum_list!=null):?>
         <foreach name="forum_list" item="vo">
         <div class="ba_info <?php if($key%2!=0):?>ba_info2<?php endif;?>">
          <a target="_blank" href="{:U('Forum/index',array('id'=>$vo['forum_id']))}" class="ba_href clearfix">
          <img width="105" height="105" class="ba_pic" src="{:U('Forum/getAvatar',array('fid'=>$vo['forum_id']))}" />
           <div class="ba_content">
            <p class="ba_name">{$vo.forum_name}吧</p>
            <p class="ba_num clearfix"><span class="ba_m_num">{$vo.member_count}</span><span class="ba_p_num">{$vo.post_count}</span></p>
            <p class="ba_desc"></p>
           </div></a>
          <!-- <div class="ba_post ">
           <a href="/p/3572204722" target="_blank">曾经历过周董统治下的华语乐坛的留下你的年龄！</a>
           <a href="/p/3572194053" target="_blank">小学生不应该成为周杰伦粉丝素质差的理由</a>
           <a href="/p/3572192409" target="_blank">不吹不黑 ，王力宏第一歌神</a>
           <a href="/p/3571859977" target="_blank">音乐皇帝--周杰伦--自己都难以超越的冷门歌--2/...</a>
          </div> --> 
          <div id="like_forum_btn" class="ba_like {$vo.concern_btn.css}" data-fid="{$vo.forum_id}" title="{$vo.concern_btn.title}"></div> 
          <p class="ba_tag"></p>
         </div> 
         </foreach>
       <?php else:?>
       <div style="text-align: center;">
           <img src="__PUBLIC__/common/images/no_data.png"/>
          </div>
     <?php endif;?>
          
          
        </div>
        <div class="square_pager">
         <div class="pagination">
          {$page}
         </div>
        </div>
       </div>
      </div>
      <div class="bottom-bg"></div>
      <div class="page-footer">
       <div class="footer" alog-alias="footer"> 
        <include file="Public:footer" />
       </div>
      </div>
     </div>
    </div> 
   </div>
  </div>
  <script>var PUBLIC="__PUBLIC__";var MODULE="__MODULE__";</script>
  <import type="js" file="libs,common,jquery#form" basepath="__PUBLIC__/common/js" />
  <script>
  $(function(){
	   var current_cid=$('.class_list').attr('data-cid');
	   if(current_cid != 0)
		   $('.class_list>li[data-cid="' + current_cid + '"]>a').addClass('cur_class');
	 });
  </script>
  <include file="Public:bottom" />
 </body>
</html>