<div class="sign_mod_bright" id="sign_mod"> 
           <div class="sign_tip_container"> 
            <div class="j_succ_info sign_succ1" style="display: none;"> 
             <div class="sign_tip_bdwrap clearfix"> 
              <div class="sign_tip_bd_arr"></div> 
              <div class="sign_tip_main"> 
               <div class="sign_succ_calendar"> 
                <div class="sign_succ_calendar_title"> 
                 <div class="calendar_title_month clearfix"> 
                  <div class="calendar_month_next j_calendar_month_next">
                   &nbsp;
                  </div> 
                  <div class="calendar_month_prev j_calendar_month_prev">
                   &nbsp;
                  </div> 
                  <div class="calendar_month_span j_calendar_month">
                   XXXX年XX月
                  </div>
                  <input type="hidden" name="sign_month" id="sign_month" value="" />
                 </div> 
                </div> 
                <table class="sign_succ_table"> 
                 <thead align="center"> 
                  <tr class="sign_succ_canlerdar_head"> 
                   <td>日</td> 
                   <td>一</td> 
                   <td>二</td> 
                   <td>三</td> 
                   <td>四</td> 
                   <td>五</td> 
                   <td>六</td> 
                  </tr> 
                 </thead> 
                 <tbody id="sign-table-tbody" class="sign_succ_canlerdar_days j_canlerdar_days" align="center"> 
                  <tr class="j_1"> 
                   <td class="sign-table-tbody-day"></td> 
                   <td class="sign-table-tbody-day"></td> 
                   <td class="sign-table-tbody-day"></td> 
                   <td class="sign-table-tbody-day"></td> 
                   <td class="sign-table-tbody-day"></td> 
                   <td class="sign-table-tbody-day"></td> 
                   <td class="sign-table-tbody-day"></td> 
                  </tr> 
                  <tr class="j_2"> 
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td> 
                  </tr> 
                  <tr class="j_3"> 
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td> 
                  </tr> 
                  <tr class="j_4"> 
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td> 
                  </tr> 
                  <tr class="j_5"> 
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td> 
                  </tr> 
                  <tr class="j_6"> 
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td>
                   <td class="sign-table-tbody-day"></td> 
                  </tr> 
                 </tbody> 
                </table> 
               </div> 
               <div class="sign_tip_boards"> 
                <div class="sign_tip_board sign_tip_board_urank j_sign_ad_mobi"> 
                 <div class="sign_tip_board_ico"></div> 
                 <p> 签到排名：今日本吧第<span class="sign_index_num j_signin_index">{$sign_order}</span>个签到</p> 
                 <!-- <p> <span class="j_succ_text">离前十名还有些距离，大家来得更勤快些吧~</span> </p>  -->
                </div> 
                <div class="sign_tip_board sign_tip_board_barrank"> 
                 <div class="sign_tip_board_ico"></div> 
                 <p>本吧签到人数：{$sign_count}</p>
                </div> 
               </div> 
              </div> 

             </div> 
            </div> 
           </div> 
           {$sign_html}
          </div> 