@CHARSET "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

html {
    color: #000;
    background: #fff;
    overflow-y: scroll
}

body,
button,
input,
select,
textarea,
pre {
    font-size: 12px;
    font-family: Arial, Helvetica, STHeiti, "微软雅黑"
}

html.mod-without-msyahei body {
    font-family: Arial, Helvetica, STHeiti
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

small {
    font-size: 12px
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none;
    color: #2b78e4
}

a:hover {
    color: #1d61ad;
    -webkit-transition: color .15s linear, background-color .3s linear;
    -moz-transition: color .15s linear, background-color .3s linear;
    -o-transition: color .15s linear, background-color .3s linear;
    -ms-transition: color .15s linear, background-color .3s linear;
    transition: color .15s linear, background-color .3s linear;
    cursor: pointer
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    -ms-interpolation-mode: bicubic
}

textarea {
    resize: vertical
}

*:focus {
    outline: 0
}

.left {
    float: left
}

.right {
    float: right
}

.overflow {
    overflow: hidden
}

.hide {
    display: none
}

.inlineBlock {
    display: inline-block;
    zoom: 1
}

.block {
    display: block
}

.inline {
    display: inline
}

.error {
    color: #F00;
    font-size: 12px
}

.fb {
    font-weight: bold
}

.f14 {
    font-size: 14px
}

button {
    cursor: pointer
}

.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

.clearfix {
    zoom: 1
}

.wordwrap {
    word-break: break-all;
    word-wrap: break-word
}

pre.wordwrap {
    white-space: pre-wrap
}

#wrapper {
    width: 100%
}

#head {
    height: 75px;
    z-index: 100
}

#nav {
    width: 100%;
    background: #fafafa;
    z-index: 1
}

#head,
#content,
#foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto
}

#foot {
    text-align: center;
    color: #7a77c8;
    margin-top: 20px;
    margin-bottom: 20px
}

body {
    background: url(../images/header_bg.png?v=5e5eae1e.png) repeat-x top
}

.mod-header {
    display: inline;
    font-size: 66px
}

.mod-userbar {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 300
}

.mod-userbar li {
    float: left;
    margin: 0 3px
}

.mod-userbar li a {
    text-decoration: underline
}

.mod-userbar-select {
    position: relative
}

.mod-ui-arr {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    display: inline-block;
    height: 4px;
    line-height: 0;
    width: 1px;
    border-top: 4px solid #00c;
    color: #00c;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: 2px
}

.mod-userbar-select div {
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid #9b9b9b;
    box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    background: #fff;
    display: none;
    width: 65px
}

.mod-userbar-select div a {
    display: block;
    line-height: 24px;
    padding: 0 6px;
    border-bottom: 1px solid #ebebeb;
    text-decoration: none;
    width: 53px;
    height: 24px
}

.mod-userbar-select div a:hover {
    background: #ebebeb
}

.mod-feedback {
    position: fixed;
    display: block;
    top: 200px;
    right: -1px;
    height: 80px;
    width: 24px;
    border: 1px solid #dfdfdf;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    background-color: #f7f7f7
}

.mod-feedback .feedback-inner {
    color: #1d61ad;
    font-size: 12px;
    width: 16px;
    margin-top: 10px;
    margin-left: 7px
}

a.mod-feedback:hover .feedback-inner {
    color: #2e7fdb
}

.mod-feedback {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.mod-dialog-mask {
    position: fixed;
    _position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0
}

body {
    _height: 100%
}

.dialog-mask {
    position: absolute;
    top: 0;
    height: 100%;
    _height: 120%;
    width: 100%;
    background-color: #000;
    opacity: .4;
    filter: alpha(opacity=40)
}

.dialog-mask-content {
    position: absolute;
    top: 50%;
    left: 50%
}

.mod-confirm {
    background-color: #fff;
    position: absolute;
    z-index: 100
}

.tang-dialog {
    position: absolute
}

.tang-dialog .tang-title {
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    border-width: 1px 1px 0 1px;
    border-bottom: 0
}

.tang-dialog .tang-title-dragable {
    cursor: move
}

.tang-dialog .tang-title .buttons {
    width: 14px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 11px
}

.tang-dialog .tang-title .buttons a {
    width: 14px;
    height: 13px;
    outline: none;
    display: block;
    background: url('../images/close.png?v=c2035f1c.png') no-repeat 0 0
}

.tang-dialog .tang-title a.close-btn {
    background-position: 0 0
}

.tang-dialog .tang-title a.close-btn:hover {
    background-position: 0 -40px
}

.tang-dialog .tang-title span {
    width: auto;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #333;
    text-indent: 20px;
    margin-right: 29px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.tang-dialog .tang-body {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-width: 0 1px 1px 1px
}

.tang-dialog .tang-body .tang-content {
    padding: 10px;
    border-top: 1px solid #F2F2F2
}

.tang-dialog .tang-body .contentFrame {
    padding: 0
}

.tang-dialog .tang-body .contentFrame iframe {
    border: 0;
    width: 100%;
    height: 100%
}

.tang-dialog .tang-body {
    position: relative;
    overflow: hidden
}

.tang-mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0)
}

.pass-input-container {
    position: relative
}

.pass-input {
    border: 1px solid #CCC;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: white;
    vertical-align: middle;
    font-size: 12px;
    _margin-top: 1px;
    padding: 7px 0 7px 8px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    background: url(/static/passpc-base/img/ui/form_input_261.png?v=95a6f436.png) no-repeat left top;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    transition-property: all;
    transition-duration: .3s;
    outline: none;
    resize: none;
    width: 253px;
    float: left
}

textarea.pass-input {
    line-height: 18px;
    color: #666;
    height: 168px;
    padding: 7px 0 7px 8px;
    _padding: 9px 0 7px 8px;
    overflow: auto;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    transition-property: all;
    transition-duration: .3s
}

.pass-input-hover {
    border-color: #ababab #ccc #cccccc #ababab
}

.pass-input-warning {
    border: 1px solid #da1111
}

.pass-input-error {
    border: 1px solid #da1111
}

.pass-input-focus {
    border-color: #377bcb
}

.pass-input-label {
    position: absolute;
    left: 13px;
    top: 3px;
    _top: 5px;
    color: #ccc;
    height: 28px;
    line-height: 28px;
    cursor: text;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    transition-property: all;
    transition-duration: .3s
}

.pass-input-label-hover {
    color: #ababab
}

.pass-input-label-focus {
    color: #ccc
}

.pass-input-title {
    font-size: 14px;
    width: 70px;
    padding-right: 10px;
    line-height: 32px;
    float: left;
    text-align: right
}

.pass-input-msg {
    line-height: 32px;
    float: left;
    color: #da1111;
    margin-left: 10px;
    font-size: 12px
}

.pass-input-check-success {
    display: none;
    float: left;
    height: 32px;
    width: 25px;
    line-height: 32px;
    margin-left: 15px;
    background: url(/img/topbarnav_bg.png?v=28051550.png) repeat-x 0 -10px
}

.pass-button-submit,
.pass-button-timer2,
.mod-btn1 {
    height: 34px;
    width: 109px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 0;
    line-height: 32px
}

.pass-button-submit-hover,
.mod-btn1:hover {
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 -35px
}

.pass-button-submit-press {
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 -70px
}

.pass-button-timer,
.mod-btn2 {
    height: 29px;
    width: 107px;
    color: #333;
    cursor: pointer;
    border: 0;
    line-height: 29px;
    text-align: center;
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 -138px;
    float: left
}

.pass-button-timer-hover,
.mod-btn2:hover {
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 -168px
}

.pass-button-timer-press {
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 198px
}

.pass-button-timer-timing {
    color: #a7a7a7;
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 -198px
}

.pass-button-timer2 {
    float: left
}

.pass-button-timer2-timing {
    color: #a7a7a7;
    background: url(../images/button_icon.png?v=73b03d37.png) no-repeat 0 -105px;
    height: 32px
}

.pass-button-timer2-timing .button-left {
    background: url(../images/button_bg.png?v=6458dc87.png) no-repeat 0 -305px
}

.pass-button-timer2-timing .button-body {
    background: url(../images/button_bg.png?v=6458dc87.png) repeat-x 0 -337px
}

.pass-button-timer2-timing .button-right {
    width: 1px;
    background: url(../images/button_bg.png?v=6458dc87.png) repeat-x 0 -369px
}

.pass-button-submit2 {
    height: 30px;
    width: 105px;
    border: 1px solid #4388cd;
    color: #fff;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
    background: #4892dc;
    background: -moz-linear-gradient(top, #4c99e7 0, #4892dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c99e7), color-stop(100%, #4892dc));
    background: -webkit-linear-gradient(top, #4c99e7 0, #4892dc 100%);
    background: -o-linear-gradient(top, #4c99e7 0, #4892dc 100%);
    background: -ms-linear-gradient(top, #4c99e7 0, #4892dc 100%);
    background: linear-gradient(to bottom, #4c99e7 0, #4892dc 100%);
    box-shadow: inset 1px 1px 3px rbga(0, 0, 0, 0.18);
    -moz-box-shadow: inset 1px 1px 3px rbga(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 1px 1px 3px rbga(0, 0, 0, 0.18);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18)
}

.pass-select {
    border: 1px solid #CCC;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 12px;
    background: url(../images/form_input_261.png?v=95a6f436.png) no-repeat left top;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    transition-property: all;
    transition-duration: .3s;
    float: left;
    cursor: pointer;
    position: relative;
    margin-right: 10px
}

.pass-select-local,
.pass-select-date {
    position: relative;
    z-index: 1
}

.zindex-2 {
    z-index: 2
}

.pass-select-content {
    padding: 0 45px 0 10px;
    line-height: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-width: 105px;
    _width: 105px;
    display: inline-block;
    white-space: nowrap;
    color: #454545
}

.pass-select-handler {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/form_select_normal.png?v=65d57b79.png) no-repeat 50% 50%;
    width: 39px;
    height: 30px;
    border-left: 1px solid #ededed
}

.pass-select-hover {
    border-color: #ababab #ccc #cccccc #ababab
}

.pass-select-hover .pass-select-handler {
    background: url(../images/form_select_hover.png?v=88bad1a7.png) no-repeat 50% 50%
}

.pass-select-error {
    border: 1px solid #da1111
}

.pass-select-focus {
    border-color: #377bcb
}

.pass-select-list {
    display: none;
    background: #fff;
    position: absolute;
    top: 31px;
    left: -1px;
    width: 100%;
    _width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    border: solid #c7c7c7;
    border-width: 0 1px 1px 1px;
    max-height: 300px
}

.pass-select-list a {
    padding: 0 25px 0 10px;
    line-height: 28px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    width: 100%;
    white-space: nowrap
}

.pass-select-list a,
.pass-select-list a:link,
.pass-select-list a:visited,
.pass-select-list a:hover,
.pass-select-list a:active {
    color: #666
}

.pass-select-list a:hover,
.pass-select-list-sel {
    background: #f7f7f7
}

.pass-select-msg {
    line-height: 32px;
    float: left;
    color: #da1111;
    font-size: 12px
}

.cus-sel-ie6-maxheight {
    height: 300px
}
/**/

.mod-sub-nav {
    height: 34px;
    background: url(../images/mod_sub_nav.png?v=66bf7c86.png) no-repeat 0 0;
    margin: 30px 0 20px;
    line-height: 34px;
    color: #666;
    font-size: 16px;
    font-family: "Microsoft Yahei", \5fae\8f6f\96c5\9ed1, \9ed1\4f53
}

.mod-sub-nav li {
    float: left;
    padding-left: 66px
}

.mod-sub-list1 {
    width: 175px
}

.mod-sub-list2 {
    width: 163px
}

.mod-sub-nav li.list1-active {
    background: url(../images/sub_nav_1.png?v=27ea4b71.png) no-repeat 0 0;
    color: #2e82ff
}

.mod-sub-nav li.list2-active {
    background: url(../images/sub_nav_2.png?v=9cd90bb1.png) no-repeat 0 0;
    color: #2e82ff;
    margin-left: -12px;
    padding-left: 78px
}

.mod-sub-nav li.list3-active {
    background: url(../images/sub_nav_3.png?v=a1717ea8.png) no-repeat 0 0;
    color: #2e82ff;
    margin-left: -12px;
    padding-left: 78px;
    width: 163px
}

.orange {
    font-size: 16px;
    color: #f90;
    font-weight: bold;
    font-family: "微软雅黑", Arial, Helvetica, STHeiti
}

div.realusertag-wrapper {
    display: none;
    opacity: 0;
    visibility: hidden
}

.mod-forgot {
    height: 450px;
    margin-left: 70px;
    width: 910px
}

.w260 {
    width: 260px
}

.w100 {
    width: 100px
}

.m_t15 {
    margin-top: 15px
}

.m_b15 {
    margin-bottom: 15px
}

.vcode-distance {
    margin: 1px 0 0 5px;
    float: left
}

.m_l80 {
    margin-left: 80px
}

.m_l105 {
    margin-left: 105px
}

#appeal-bind-list {
    padding-left: 105px
}

.forgot-bind-title {
    width: 80px;
    float: left;
    font-size: 14px
}

.forgot-bind-info {
    color: #ababab;
    float: left;
    margin-right: 15px
}

.forgot-bind-a {
    float: left;
    color: #00c;
    background: url(../images/arr_down.png?v=6c95ff18.png) no-repeat right 4px;
    padding-right: 16px
}

.forgot-bind-a-active {
    background: url(../images/arr_up.png?v=63c70cd7.png) no-repeat right 4px
}

.pass-input-container {
    margin-bottom: 15px
}

.mod-step-detail .pass-error-msg {
    color: #da1111;
    font-size: 12px
}

.mod-appeal-bind div {
    display: none
}

.forgot-bind-type {
    line-height: 16px;
    margin-bottom: 15px;
    position: relative;
    left: -105px
}

.forgot-bind-type .pass-radio {
    background-position: 0 0
}

.button-send-conent table {
    float: left
}

.button-send-info {
    float: left;
    margin-left: 10px;
    display: inline;
    line-height: 32px
}

.pass-account-slect .pass-radio-list {
    clear: both;
    margin-top: 10px;
    line-height: 16px;
    background-position: 0 0
}

.mod-setinfo {}

div.mod-bread-nav {
    background: none;
    height: 14px;
    line-height: 14px;
    padding-left: 0
}

div.mod-bread-nav a.nav-bread {
    font-size: 12px
}

div.mod-bread-nav em.nav-gt {
    color: #999
}

.mod-setinfo-step1 .detail-content {
    width: 696px
}

.mod-setinfo .detail-content .phone-bind {
    margin-top: 40px
}

.mod-setinfo .binditem {
    position: relative;
    margin-bottom: 40px
}

.mod-setinfo .binditem .bind-content {
    float: left;
    padding: 0
}

.mod-setinfo .binditem .bind-content .bind-title {
    font-size: 14px
}

.mod-setinfo .binditem .bind-content .bind-title-detail-msg {
    font-size: 18px;
    color: #f90;
    font-weight: bold;
    font-family: "微软雅黑", Arial, Helvetica, STHeiti
}

.mod-setinfo .binditem .bind-content .bind-title .bind-link {
    margin-left: 10px;
    font-size: 12px
}

.mod-setinfo .binditem .bind-content .bind-title .bind-link.useless {
    color: #999
}

.mod-setinfo .binditem .bind-content .bind-title .bind-link.useless:hover {
    color: #999
}

.mod-setinfo .binditem .bind-content .bind-tips {
    font-size: 12px;
    padding-top: 16px;
    color: #666
}

.mod-setinfo .binditem .bind-content .bind-tips-detial {
    padding-top: 8px
}

.mod-setinfo .detail-title {
    font-size: 14px;
    color: #666
}

.mod-setinfo .binditem .bind-icon {
    margin-right: 30px;
    float: left;
    width: 73px;
    height: 73px
}

.mod-setinfo .email-bind .binded {
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -95px -80px
}

.mod-setinfo .email-bind .unbind {
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -95px 0
}

.mod-setinfo .email-bind .binded-hover {
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -95px -240px
}

.mod-setinfo .phone-bind .binded {
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -192px -80px
}

.mod-setinfo .phone-bind .unbind {
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -192px 0
}

.mod-setinfo .phone-bind .binded-hover {
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -192px -240px
}

.mod-setinfo .binditem .re {
    position: absolute;
    display: block;
    height: 28px;
    width: 28px;
    top: 0;
    left: 54px;
    background: url(/static/passpc-security/img/secure/bitch.png?v=4278004d.png) no-repeat 0 0
}

.mod-setinfo .bind-btn {
    float: right;
    padding-top: 30px;
    _padding-top: 15px
}

.mod-setinfo .button,
.mod-layer-body .button,
.mod-step-detail .button {
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    font-weight: normal;
    line-height: 30px;
    width: 77px;
    height: 30px;
    background: #3f89ec;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.mod-setinfo .button:hover,
.mod-layer-body .button:hover,
.mod-step-detail .button:hover {
    background-color: #4490f7;
    color: #fff
}

.mod-setinfo .button:focus,
.mod-layer-body .button:focus,
.mod-step-detail .button:focus {
    background-color: #3a84e8;
    color: #fff
}

.mod-setinfo .grey-button,
.mod-layer-body .grey-button {
    display: block;
    float: left;
    text-align: center;
    font-weight: normal;
    line-height: 30px;
    background: #3f89ec;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 28px;
    width: 75px;
    border: 1px solid #dfdfdf;
    background: #efefef;
    color: #666
}

.mod-setinfo .grey-button:hover,
.mod-layer-body .grey-button:hover {
    background: #e0e0e0;
    border-color: #ccc;
    color: #666
}

.mod-setinfo .grey-button:focus,
.mod-layer-body .grey-button:focus {
    background: #e0e0e0;
    border-color: #ccc;
    color: #666
}

.mod-setinfo .bind-button-change {}

.mod-setinfo .bind-button-bind {}

.mod-setinfo .bind-button-unbind {
    margin-left: 10px
}

.mod-setinfo .detail-next-button,
.mod-setinfo-step2 .pass-button-submit {
    width: 112px;
    height: 32px;
    font-weight: bold
}

.mod-layer-body {
    width: 390px;
    height: 313px;
    border: 3px solid rgba(0, 0, 0, .3)
}

.mod-layer-body .mod-layer-main {
    padding: 20px 20px 0 20px
}

.mod-layer-body .unbind-dia-warn {
    background: url(/static/passpc-security/img/forgot/warning.png?v=5058d99c.png) 13px 17px no-repeat #fffbf6;
    border: 1px solid #f8e8d3;
    padding: 15px 15px 15px 35px;
    color: #666;
    line-height: 20px
}

.mod-layer-body .orange {
    font-size: 14px
}

.mod-layer-body .unbind-dia-title {
    font-size: 12px;
    color: #666;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px
}

.mod-layer-body .unbind-dia-ul li {
    color: #999;
    padding-left: 20px;
    line-height: 20px
}

.mod-layer-body .unbind-dia-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #dfdfdf
}

.mod-layer-body .unbind-dia-footer-label {
    display: block;
    float: left;
    color: #666;
    line-height: 30px;
    margin-left: 25px
}

.mod-layer-body .unbind-dia-footer-btn {
    margin-left: 10px
}

.mod-setinfo .pass-form {}

.mod-setinfo .pass-form-item {
    position: relative;
    margin-bottom: 20px
}

.mod-setinfo .pass-form-item-hidden {
    display: none
}

.mod-setinfo .pass-form-item-submit {
    padding-left: 75px
}

.mod-setinfo .pass-label {
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    text-align: right
}

.mod-setinfo .pass-text-input {
    display: block;
    position: relative;
    float: left;
    height: 14px;
    width: 328px;
    padding: 12px 10px 12px 10px;
    _padding: 12px 10px 12px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s
}

.mod-setinfo .pass-text-input:focus {
    border-color: #488ee7
}

.mod-setinfo .pass-text-input-error,
.mod-setinfo input.weak,
.mod-setinfo input.nopwd {
    border-color: #fc4343
}

.mod-setinfo .pass-item-error-confirmpwd {
    display: none;
    float: left;
    position: relative;
    width: 250px;
    top: 12px;
    color: #fc4343;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
    background: url(/static/passpc-account/img/reg/err_small.png?v=28923305.png) 0 0 no-repeat
}

.mod-setinfo .pass-form-setinfo {
    margin-top: 20px
}

.mod-setinfo .result-title {
    width: 696px;
    padding-top: 40px;
    padding-bottom: 60px
}

.mod-setinfo .result-title-h3 {
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold
}

.mod-setinfo .result-title-h3 span {
    color: #333;
    position: relative;
    top: -8px;
    left: 8px
}

.mod-setinfo .result-title-btn,
.mod-step-detail .result-title-btn {
    float: none;
    height: 40px;
    width: 140px;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 20px
}

.mod-setinfo .result-resetlog {
    margin-top: 60px
}

.mod-setinfo .login-histroy-info {
    color: #666;
    font-weight: normal
}

.mod-setinfo .result-list-content {
    width: 696px;
    _width: 698px
}

.mod-setinfo .result-content-title span {
    font-weight: bold;
    color: #333
}

.auth-account-nav {
    position: absolute;
    top: 100px;
    right: 140px
}

.auth-account-nav li {
    float: left;
    display: inline;
    margin-left: 20px
}

.auth-account-nav li a {
    float: left;
    width: 100px;
    color: #000;
    height: 100px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    text-align: center;
    background-position: 50% 54px;
    background-repeat: no-repeat
}

.auth-account-nav li a:hover {
    border: 1px solid #e0e0e0;
    background-color: #cecece
}

.auth-account-nav li a.auth-email {
    background-image: url('/static/passpc-security/img/forgot/email.png?v=1e18c0dc.png')
}

.auth-account-nav li a.auth-email:hover {
    background-image: url('/static/passpc-security/img/forgot/email_hover.png?v=1e18c0dc.png')
}

.auth-account-nav li a.auth-mobile {
    background-image: url('/static/passpc-security/img/forgot/mobile.png?v=81fceefc.png')
}

.auth-account-nav li a.auth-mobile:hover {
    background-image: url('/static/passpc-security/img/forgot/mobile_hover.png?v=81fceefc.png')
}

.auth-account-nav li a.auth-app {
    background-image: url('/static/passpc-security/img/forgot/app.png?v=d5ca138d.png')
}

.auth-account-nav li a.auth-app:hover {
    background-image: url('/static/passpc-security/img/forgot/app_hover.png?v=d5ca138d.png')
}

.forgot-auth-container {
    width: 520px
}

.forgot-auth-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px
}

.form-2-label {
    width: 70px;
    font-size: 14px;
    float: left;
    margin-right: 10px;
    text-align: right;
    line-height: 32px
}

.form-2-content {
    font-size: 14px;
    position: relative;
    float: left
}

.line-32 {
    line-height: 32px
}

.form-2-content .pass-button-timer {
    margin: 1px 0 0 10px
}

.p-l80 {
    padding-left: 80px
}

.form-2-content .pass-input-msg {
    clear: both;
    margin-left: 0;
    height: 32px;
    width: 420px
}

.pass-input-stip {
    line-height: 32px;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    display: inline
}

.upsms-auth-content {
    width: 400px;
    height: 130px;
    border: 1px solid #ccc;
    margin-bottom: 15px
}

.upsms-auth-left {
    background: #f9f9f9;
    width: 209px;
    height: 100px;
    float: left;
    padding: 20px 20px 10px;
    border-right: 1px solid #ccc
}

.upsms-auth-left p {
    margin-bottom: 10px
}

.upsms-auth-tip {
    color: #999;
    margin-top: 45px
}

.upsms-auth-right {
    width: 150px;
    padding-top: 10px;
    float: right;
    text-align: center
}

.upsms-mt10 {
    margin-top: 10px
}

.app-auth-info {
    padding-left: 80px;
    margin-bottom: 25px
}

.pass-img-border {
    border: 1px solid #ccc;
    padding: 3px
}

.app-quick-msg {
    line-height: 32px;
    color: #da1111;
    font-size: 12px
}

.auth-account-nav .hide {
    display: none
}

.app-qrocde-msg {
    height: 30px;
    margin-top: 10px;
    color: #da1111
}

.app-onekey-msg {
    height: 80px;
    margin-top: 10px;
    color: #da1111
}

.mod-secure .mod-step-nav {
    margin-top: 32px;
    margin-bottom: 20px
}

.mod-secure .mod-step-detail {}

.mod-step-nav .step-info {
    width: 635px;
    height: 30px
}

.mod-step-nav .step-auth-email {
    background: url(/static/passpc-security/img/secure/step_auth_email.png?v=c73e1bae.png) no-repeat 0 0
}

.mod-step-nav .step-auth-phone {
    background: url(/static/passpc-security/img/secure/step_auth_phone.png?v=939acb1a.png) no-repeat 0 0
}

.mod-step-nav .step-bind-email {
    background: url(/static/passpc-security/img/secure/step_bind_email.png?v=9d6d94f0.png) no-repeat 0 0
}

.mod-step-nav .step-bind-phone {
    background: url(/static/passpc-security/img/secure/step_bind_phone.png?v=ecfc1fe6.png) no-repeat 0 0
}

.mod-step-nav .step-success-email-bind {
    background: url(/static/passpc-security/img/secure/step_success_email_bind.png?v=40b4b106.png) no-repeat 0 0
}

.mod-step-nav .step-success-email-modify {
    background: url(/static/passpc-security/img/secure/step_success_email_modify.png?v=a672a067.png) no-repeat 0 0
}

.mod-step-nav .step-success-phone-bind {
    background: url(/static/passpc-security/img/secure/step_success_phone_bind.png?v=943a881c.png) no-repeat 0 0
}

.mod-step-nav .step-success-phone-modify {
    background: url(/static/passpc-security/img/secure/step_success_phone_modify.png?v=e7be4829.png) no-repeat 0 0
}

.mod-step-nav .step-unbind-phone-confirm {
    background: url(/static/passpc-security/img/secure/step_unbind_phone_confirm.png?v=02fbe5fb.png) no-repeat 0 0
}

.mod-step-nav .step-unbind-phone-auth {
    background: url(/static/passpc-security/img/secure/step_unbind_phone_auth.png?v=ecfc1fe6.png) no-repeat 0 0
}

.mod-step-nav .step-unbind-phone-success {
    background: url(/static/passpc-security/img/secure/step_unbind_phone_success.png?v=943a881c.png) no-repeat 0 0
}

.mod-step-detail .step-form-tip {
    color: #999;
    font-size: 12px;
    padding-bottom: 20px
}

.mod-step-detail .authcode-container {
    width: 250px;
    margin-bottom: 15px
}

.mod-step-detail .vcode-container {
    margin-bottom: 20px
}

.mod-step-detail .vcode-container .vcode-input {
    float: left;
    width: 97px
}

.mod-step-detail .vcode-container .vcode-label {
    width: 80px
}

.mod-step-detail .vcode-container .vcode-img {
    float: left;
    width: 90px;
    height: 30px;
    border: 1px solid #ddd;
    margin-left: 10px
}

.mod-step-detail .vcode-container .vcode-img-change {
    padding-left: 10px;
    display: block;
    padding-top: 9px;
    float: left;
    text-decoration: underline
}

.mod-step-detail .resend-button-container {
    margin-bottom: 20px
}

.mod-step-detail .step-email-sendinfo {
    font-size: 14px
}

.mod-step-detail .step-email-sendinfo a {
    text-decoration: underline
}

.mod-step-detail .smscode-container {
    width: 93px;
    margin-bottom: 15px
}

.w93 {
    width: 93px
}

.mod-step-detail .step-tip {
    border-top: 1px dotted #e5e5e5;
    margin: 70px 0 140px;
    width: 910px
}

.mod-step-detail .shallow {
    color: #999
}

.mod-step-detail .shallow a {
    color: #3B7FD0
}

.mod-step-detail .step-tip .tip-title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 14px
}

.mod-step-detail .step-tip li {
    margin-top: 12px
}

.mod-step-detail .step-tip li a {
    text-decoration: underline
}

form {
    position: relative
}

.mod-step-detail .step-pop-tip {
    border: 1px solid #c6def0;
    background-color: #f9fcff;
    margin: 25px 2px 10px 10px;
    padding: 0 10px 14px 14px;
    position: absolute;
    width: 230px;
    left: 428px
}

.mod-step-detail .tip-light-icon {
    background: url(/static/passpc-security/img/secure/tip.png?v=a398d46f.png) no-repeat 0 0;
    _background: url(/static/passpc-security/img/secure/tip-8.png) no-repeat 0 0;
    display: inline-block;
    height: 19px;
    width: 18px
}

.mod-step-detail .step-pop-tip .tip-title {
    margin: 15px 0 2px;
    font-weight: bold;
    font-size: 13pt
}

.mod-step-detail .step-pop-tip li {
    margin-top: 5px;
    line-height: 200%
}

.mod-step-detail .step-pop-tip li {
    color: #666
}

.mod-step-detail .step-pop-tip li a {
    text-decoration: underline;
    color: #261cdc
}

.mod-step-detail .step-account-select {
    float: left;
    text-align: center;
    width: 73px
}

.mod-step-detail .step-account-select .select-account-icon {
    height: 73px;
    width: 73px;
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat 0 -80px
}

.mod-step-detail a:hover .step-account-select .select-account-icon {
    background-position: 0 -240px
}

.mod-step-detail a.mod-select-active .step-account-select .select-account-icon {
    background-position: 0 -160px
}

.mod-step-detail .step-account-select .select-account-info {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    color: #377ccb
}

.mod-step-detail .step-email-info,
.mod-step-detail .step-form-info {
    font-size: 14px;
    padding-bottom: 20px
}

.mod-step-detail .step-email-select,
.mod-step-detail .step-secure-select {
    float: left;
    text-align: center;
    width: 220px
}

.mod-step-detail .step-email-select .select-email-icon,
.mod-step-detail .step-secure-select .select-secure-icon {
    height: 73px;
    width: 73px;
    margin-left: 70px;
    *margin-left: 0;
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -95px -80px
}

.mod-step-detail .step-secure-select .select-secure-icon {
    background-position: -382px -80px
}

.mod-step-detail a:hover .step-email-select .select-email-icon {
    background-position: -95px -240px
}

.mod-step-detail a:hover .step-secure-select .select-secure-icon {
    background-position: -382px -240px
}

.mod-step-detail a.mod-select-active .step-email-select .select-email-icon {
    background-position: -95px -160px
}

.mod-step-detail a.mod-select-active .step-secure-select .select-email-icon {
    background-position: -382px -160px
}

.mod-step-detail a.change-choice {
    display: block;
    float: left
}

.mod-step-detail .step-email-select .select-email-info,
.mod-step-detail .step-secure-select .select-secure-info {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    color: #377ccb
}

.mod-step-detail .step-phone-select {
    float: left;
    text-align: center;
    width: 220px
}

.mod-step-detail .step-phone-select .select-phone-icon {
    height: 73px;
    width: 73px;
    margin-left: 70px;
    *margin-left: 0;
    background: url(/static/passpc-base/img/sprite_email_phone_icon.png?v=28923305.png) no-repeat -192px -80px
}

.mod-step-detail a:hover .step-phone-select .select-phone-icon {
    background-position: -192px -240px
}

.mod-step-detail a.mod-select-active .step-phone-select .select-phone-icon {
    background-position: -192px -160px
}

.mod-step-detail .step-phone-select .select-phone-info {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    color: #377ccb
}

.mod-step-detail .step-choose {
    position: relative
}

.mod-step-detail .select-phone-nophone .select-phone-info {
    color: #999
}

.mod-step-detail .select-phone-nophone .select-phone-info:hover {
    color: #999
}

.mod-step-detail .select-phone-nophone .select-phone-icon {
    background-position: -192px 0
}

.mod-step-detail a:hover .select-phone-nophone .select-phone-icon {
    background-position: -192px 0
}

.mod-step-detail .select-phone-nophone {
    position: relative
}

.mod-step-detail .select-phone-warn {
    position: absolute;
    padding: 8px;
    background-color: #f7f7f7;
    border: #efefef 1px solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #999;
    top: 18px;
    left: 380px
}

.mod-step-detail .select-phone-arrow {
    position: absolute;
    top: 8px;
    left: -6px
}

.mod-step-detail .select-phone-arrow em {
    position: absolute;
    top: 0;
    left: 0;
    color: #efefef
}

.mod-step-detail .select-phone-arrow em.arrowb {
    position: absolute;
    top: 0;
    left: 1px;
    color: #f7f7f7
}

.mod-step-detail .step-email-error {
    color: #666
}

.mod-step-detail .step-tip li {
    font-family: "微软雅黑", Arial, Helvetica, STHeiti
}

.mod-step-detail a.step-choose-appeallink {
    font-size: 18px;
    font-weight: bold;
    color: #00a1e3;
    background: url(/static/passpc-security/img/forgot/link.png?v=88c9d670.png) no-repeat;
    display: block;
    height: 24px;
    width: 300px;
    line-height: 24px;
    padding-left: 32px
}

.mod-step-detail a.step-choose-appeallink:hover {
    color: #09d;
    text-decoration: underline
}

.mod-step-detail .step-position {
    width: 73px;
    margin-left: 80px
}

.mod-step-detail .step-position .m_l0 {
    margin-left: 0
}

.mod-step-detail .email-container {
    width: 260px;
    margin-bottom: 15px
}

.mod-step-detail .email-container .email-label {
    width: 240px
}

.mod-step-detail .email-timer {
    float: left
}

.mod-step-detail .email-timer-tips {
    float: left;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 14px
}

.mod-step-detail .email-timer-tips a {
    text-decoration: underline
}

.mod-step-detail .emailcode-container {
    width: 93px;
    margin-bottom: 15px
}

.mod-step-detail .emailcode-container .emailcode-label {
    width: 80px
}

.mod-step-detail .phone-container {
    width: 260px;
    margin-bottom: 15px
}

.mod-step-detail .phone-container .phone-label {
    width: 240px
}

.mod-step-detail .phonecode-container {
    width: 93px;
    margin-bottom: 15px
}

.mod-step-detail .phonecode-container .phonecode-label {
    width: 80px
}

.mod-step-detail .result-info {
    text-align: center;
    padding-top: 60px;
    width: 695px
}

.mod-step-detail .result-info .result-message {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-bottom: 40px
}

.mod-step-detail .result-info .result-message .result-message-link {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    left: 205px;
    top: 38px
}

.result-message span,
.result-message2 span {
    position: relative;
    top: -8px;
    left: 8px
}

.mod-step-detail .result-info .result-goto {
    padding-top: 40px
}

.mod-step-detail .result-info .result-goto a {
    text-decoration: underline
}

.mod-step-detail .result-info .result-message2 {
    font-size: 14px
}

.mod-step-detail .result-info .result-message2-sub {
    margin-top: 30px;
    font-size: 14px;
    text-align: center
}

.mod-step-detail .success-info {
    background: url(/static/passpc-base/img/success_icon.png?v=28923305.png) no-repeat 0 54px
}

.mod-step-detail .fail-info {
    background: url(/static/passpc-base/img/error_icon.png?v=28923305.png) no-repeat 0 54px
}

.mod-step-detail .step-detail-warning {
    margin-bottom: 20px;
    margin-left: 80px
}

.mod-step-detail .step-detail-warning-text {
    padding-left: 30px;
    line-height: 28px;
    height: 30px;
    background: url(/static/passpc-security/img/reset/smile.png?v=9e58c6dd.png) no-repeat 0 0;
    font-size: 14px;
    color: #666
}

.pass-tips {
    width: 360px;
    position: absolute;
    left: 700px;
    top: 200px;
    background: #eeeeed;
    padding-bottom: 1px;
    border-bottom: 1px solid #f9f9f8
}

.pass-tips-arr {
    position: absolute;
    left: -4px;
    top: 10px;
    background: url(/static/passpc-base/img/reg_tip_header_t.png?v=28923305.png) no-repeat 0 0;
    width: 6px;
    height: 10px
}

.pass-tips-content {
    border: 1px solid #bbb;
    padding: 8px 9px 4px 9px;
    color: #666;
    background: #fff
}

.p-b10 {
    padding-bottom: 10px
}

.pass-tips-streng {
    float: left;
    margin-top: 5px;
    _margin-top: 4px;
    float: left;
    background: #f1f1f1;
    width: 165px;
    height: 5px;
    overflow: hidden;
    margin-left: 15px;
    position: relative
}

.pass-tips-streng span {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px
}

.pass-tips-level-2 {
    width: 55px;
    background: #c00
}

.pass-tips-level-1 {
    width: 110px;
    background: #e9ba54
}

.pass-tips-level-0 {
    width: 165px;
    background: #7bb55d
}

.pass-radio {
    float: left;
    background: url(/static/passpc-base/img/ui/radio_normal.png?v=28923305.png) no-repeat 0 8px;
    padding-left: 25px;
    cursor: pointer
}

.pass-radio-list {
    position: relative
}

.pass-radio-list .pass-radio-tag {
    display: none;
    position: absolute;
    top: -10px;
    left: 450px;
    width: 265px;
    border: 1px solid #ddd;
    padding: 15px;
    color: #999;
    box-shadow: 1px 1px 1px #efefef;
    -moz-box-shadow: 1px 1px 1px #efefef;
    -webkit-box-shadow: 1px 1px 1px #efefef;
    cursor: default
}

.pass-radion-active .pass-radio-tag {
    display: block
}

.pass-radio-list .pass-radio-tag .arrow {
    display: block;
    position: absolute;
    top: 10px;
    left: -6px
}

.pass-radio-list .pass-radio-tag .arrowa {
    position: absolute;
    top: 0;
    left: 0;
    color: #ddd
}

.pass-radio-list .pass-radio-tag .arrowb {
    position: absolute;
    top: 0;
    left: 1px;
    color: #fff
}

.pass-radion-active {
    background: url(/static/passpc-base/img/ui/radio_select.png?v=28923305.png) no-repeat 0 8px
}

.pass-button-send table {
    float: left
}

.send-info-bottom {
    font-size: 14px;
    height: 20px
}

.send-info-bottom a {
    text-decoration: underline
}

.pass-error-color {
    color: #da1111
}

.send-info-right {
    float: left;
    margin-left: 10px;
    display: inline;
    line-height: 30px
}

.send-info-right a {
    text-decoration: underline
}

#content {
    height: auto
}

#content .mod-forgot {
    min-height: 500px;
    height: auto
}

.result-content-msg {
    font-size: 12px;
    margin: 10px 0;
    color: #999;
    text-align: left;
    display: block
}

.result-content-link {
    display: block;
    text-align: right
}

.result-content-ul {
    border-top: 1px solid #ddd;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px
}

.result-content-ul .result-content-list {
    display: block;
    border-bottom: 1px solid #dfdfdf
}

.result-content-ul .result-content-title span {
    text-decoration: bold;
    background: #f7f7f7
}

.result-content-ul .result-content-title span,
.result-content-ul .result-content-list span {
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px
}

.result-content-ul .result-content-list span.result-content-ip {}

.result-content-ul .result-content-time {
    width: 80px
}

.result-content-ul .result-content-opera {
    width: 230px
}

.result-content-ul .result-content-local {
    width: 115px
}

.result-content-ul .result-content-ip {
    width: 110px
}

#nav {
    height: 42px
}

.nav-1 {
    height: 42px;
    background-color: #2e82ff;
    width: 100%;
    border-top: 1px solid #258bd6;
    border-bottom: #258bd6;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px #ddd;
    -moz-box-shadow: 0 2px 4px #ddd;
    -webkit-box-shadow: 0 2px 4px #ddd
}

.nav-2 {
    height: 46px;
    background: url(/static/passpc-base/img/hdbg.png?v=28923305.png) repeat-x 0 0;
    width: 100%
}

.mod-nav {
    position: relative;
    width: 980px;
    margin-left: auto;
    margin-right: auto
}

.page-type {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 14px;
    margin-left: 78px
}

.page-type-notab {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-left: 70px;
    line-height: 46px;
    display: inline
}

.mod-nav .page-type,
.mod-nav .nav-list {
    float: left
}

.mod-nav .list-item {
    float: left;
    margin-right: 10px
}

.mod-nav .list-item a {
    padding-left: 20px;
    padding-right: 20px;
    float: left
}

.mod-nav .list-item a span {
    height: 42px;
    width: 80px;
    line-height: 42px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53
}

.mod-nav .list-item a:hover {
    background: #0067ff
}

.page-title,
.page-tab {
    height: 100%
}

.page-tab {
    display: block
}

.page-tab:link,
.page-tab:visited,
.page-tab:hover,
.page-tab:active {
    color: #000
}

.index .list-item-index .page-tab,
.ucenter .list-item-ucenter .page-tab,
.reset .list-item-reset .page-tab,
.secure .list-item-secure .page-tab,
.associate .list-item-associate .page-tab {
    background: #0067ff
}

.mod-nav .feedback-link {
    float: right;
    line-height: 46px;
    text-decoration: underline
}

.mod-nav .app-download {
    display: block;
    position: absolute;
    right: 0;
    top: -36px;
    width: 115px;
    height: 80px;
    background: url(/static/passpc-security/img/ucenter/appdownload_bg.png?v=0cbc20a0.png) no-repeat;
    z-index: 1
}

.mod-nav .app-download:hover {
    background-position: 0 -80px
}

.mod-bread-nav {
    margin-top: 20px;
    margin-bottom: 20px
}

.mod-bread-nav a.nav-bread {
    font-size: 14px
}

.mod-bread-nav .nav-gt {
    font-family: STHeiti, "微软雅黑";
    font-size: 14px;
    margin: 0 5px
}

.mod-bread-nav a.nav-bread-nolink {
    color: #666;
    cursor: default
}

.mod-bread-nav a.nav-bread-last:hover {
    color: #666
}

.mod-secure-question ul.mod-sub-nav {
    margin-top: 0
}

.mod-layer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #000;
    opacity: .15;
    filter: Alpha(opacity=15)
}

.mod-layer-body {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000
}

.mod-layer-body-title {
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    border-width: 1px 1px 0 1px;
    border-bottom: 0
}

.mod-layer-body-title span {
    width: auto;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #333;
    text-indent: 20px;
    margin-right: 29px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.mod-layer-content {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-top: 1px solid #F2F2F2
}

.mod-layer-body-title a {
    width: 14px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 11px;
    outline: none;
    display: block;
    background: url('/static/passpc-base/img/ui/close.png?v=28923305.png') no-repeat 0 0;
    background-position: 0 0
}

.mod-layer-body-title a:hover {
    background-position: 0 -40px
}

.mod-layer-main {
    padding: 10px;
    overflow: hidden
}

.pass-item-tip {
    display: none;
    position: absolute
}

.pass-pop-tip-content {
    position: relative
}

.pwd-checklist-wrapper .pwd-checklist-arrow {
    position: absolute;
    top: 8px;
    left: 0
}

.pwd-checklist-wrapper .pwd-checklist-arrow em {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px
}

.pwd-checklist-wrapper .pwd-checklist-arrow em.arrowa {
    color: #ddd;
    left: 0
}

.pwd-checklist-wrapper .pwd-checklist-arrow em.arrowb {
    color: #f9f9f9;
    left: 1px
}

.pwd-checklist {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #efefef;
    -moz-box-shadow: 1px 1px 1px #efefef;
    -webkit-box-shadow: 1px 1px 1px #efefef;
    background: #f9f9f9;
    width: 200px
}

.pwd-checklist .pwd-checklist-item {
    line-height: 20px;
    padding-left: 18px;
    background: url(/static/passpc-account/img/reg/reg_icons.png?v=28923305.png) no-repeat -86px -112px;
    color: #666
}

.pwd-checklist .pwd-checklist-item-success {
    background-position: -86px -128px
}

.pwd-checklist .pwd-checklist-item-error {
    background-position: -86px -144px;
    color: #fc4343
}

.pass-item-error {
    display: none
}

.pass-item-error-password {
    position: absolute;
    float: left;
    background: none;
    padding: 0;
    top: 0;
    left: 434px;
    height: 40px
}

.pass-item-error-password .pwd-strength-sum {
    position: relative;
    display: block;
    height: 16px;
    padding-top: 5px
}

.pass-item-error-password .pwd-strength-sco,
.pass-item-error-password .pwd-strength-bg {
    display: block;
    position: absolute;
    width: 130px;
    height: 10px;
    line-height: 10px
}

.pass-item-error-password .middle,
.pass-item-error-password .strong {
    color: #999
}

.pass-item-error-password .middle .pwd-strength-detail,
.pass-item-error-password .strong .pwd-strength-detail {
    background-position: -80px 0
}

.pass-item-error-password .weak .pwd-strength-detail,
.pass-item-error-password .nopwd .pwd-strength-detail {
    color: #fc4343
}

.pass-item-error-password .strong .pwd-strength-sco {
    background-color: #5bc92e;
    width: 130px
}

.pass-item-error-password .strong .pwd-strength-title {
    color: #5bc92e
}

.pass-item-error-password .middle .pwd-strength-sco {
    background-color: #ff9800;
    width: 70px
}

.pass-item-error-password .middle .pwd-strength-title {
    color: #ff9800
}

.pass-item-error-password .weak .pwd-strength-sco {
    background-color: #fc4343;
    width: 30px
}

.pass-item-error-password .nopwd .pwd-strength-title,
.pass-item-error-password .weak .pwd-strength-title {
    color: #fc4343
}

.pass-item-error-password .nopwd .pwd-strength-sum {
    display: none
}

.pass-item-error-password .nopwd .pwd-strength-detail {
    margin-top: 12px
}

.pass-item-error-password .pwd-strength-bg {
    background-color: #eee
}

.pass-item-error-password .pwd-strength-title {
    position: absolute;
    left: 135px
}

.pass-item-error-password .pwd-strength-detail {
    background: url(/static/passpc-account/img/reg/reg_icons.png?v=28923305.png) -80px -24px no-repeat;
    padding-left: 20px;
    line-height: 16px;
    display: block;
    width: 250px
}

.mod-setinfo .button,
.mod-layer-body .button,
.mod-step-detail .button,
.mod-setinfo .grey-button,
.mod-layer-body .grey-button,
.mod-step-detail .select-phone-warn {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}