<div class="forumcard_dialog dialogJ visit_card_dlg dialogJshadow ui-draggable" style="z-index: 50003; width: 700px; display:none;">
   <div class="uiDialogWrapper">
    <div class="dialogJtitle" style="cursor: move;">
     <span class="dialogJtxt">设置本吧名片</span>
     <a href="javascript:void(0)" class="dialogJclose" title="关闭本窗口">&nbsp;</a>
    </div>
    <div class="dialogJcontent">
     <div class="dialogJbody" id="dialogJbody">
      <div class="visit_card" id="j_visit_card">
       <div class="rule_intro">
        <span class="tip_title">注意：</span>
        <p>请选择符合本吧讨论内容的图片作为吧头像，具备logo传播价值及易辨认性。</p>
       </div>
       <div class="photo_post">
        <div id="TBNP" style="display: block;">
         <div class="op-pic clearfix">
          <div class="l-pic" id="j_cur_avatar" addr="">
           <h4>当前头像</h4>
           <img style="border:2px solid #ccc" src="{:U('Forum/getAvatar',array('fid'=>$forum_info['forum_id']))}" />
          </div>
          <div class="r-pic">
           <h4>设置新头像</h4>
            <div class="upload-main">
<!-- 修改头像 -->
<form action="{:U('Forum/setForumCard')}" method="post" id="forum_card_form" class="update-pic cf">
	<div class="upload-area">
		<input type="file" id="user-pic">
		<div class="file-tips">支持JPG,PNG,GIF，图片小于1MB，尺寸不小于100*100,真实高清头像更受欢迎！</div>
		<div class="preview hidden" id="preview-hidden"></div>
	</div>
	<div class="preview-area">
		<input type="hidden" id="x" name="x" />
		<input type="hidden" id="y" name="y" />
		<input type="hidden" id="w" name="w" />
		<input type="hidden" id="h" name="h" />
		<input type="hidden" id='img_src' name='src'/>
		<input type="hidden" id='picName' name='picName'/>
		<input type="hidden" name="forum_id" value="{$forum_info.forum_id}" />
		<input type="hidden" name="desc" id="desc" />
		
		<a class="uppic-btn reupload-img" href="javascript:void(0)">重新上传</a>
	</div>
</form>
<!-- /修改头像 -->
</div>
          </div>
         </div>
         
        </div>
       
       </div>
       <div class="text_post clearfix">
        <h2>填写吧描述:</h2>
        <div class="clearfix">
         <div id="containerforeditor">
          <div class="lzl_simple_wrapper" style="width: 290px;">
           <div class="tb-editor-editarea-wrapper">
            <div class="ui_textfield j_ba_description tb-editor-editarea" style="height: auto; min-height: 140px; max-height: 150px; display: block;" contenteditable="true">{$forum_info.forum_desc}</div>
           </div>
          </div>
         </div>
         <h3>详细描述</h3>
         <ol>
          <li><span class="ui_text_summary">介绍本吧讨论主题、特色内容、常用信息等;</span></li>
          <li><span class="ui_text_summary"><span class="ui_text_emphasize">不能</span>出现敏感词、不允许使用口号、格言等抽象类描述;</span></li>
          <li><span class="ui_text_summary"><span class="ui_text_emphasize">字数控制在10字以内</span>。</span></li>
         </ol>
         <a href="javascript:void(0)" class="ui_btn ui_btn_m j_post_btn"><span><em>确认提交</em></span></a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script>
	$(function(){
		//上传头像(uploadify插件)
		$("#user-pic").uploadify({
			'fileObjName':'forum_avatar',
			'queueSizeLimit' : 1,
			'removeTimeout' : 0.5,
			'preventCaching' : true,
			'multi'    : false,
			'swf' 			: '__PUBLIC__/common/images/uploadify.swf',
			'uploader' 		: '{:U("Forum/uploadAvatar")}',
			'buttonText' 	: '<i class="userup-icon"></i>上传头像',
			'width' 		: '200',
			'height' 		: '200',
			'fileTypeExts'	: '*.jpg; *.png; *.gif;',
			'onUploadSuccess' : function(file, data, response){
				var data = $.parseJSON(data);
				if(data['status'] == 0){
					alertbox('发生错误',data['info']);
					return;
				}

				var preview = $('.upload-area').children('#preview-hidden');
				preview.show().removeClass('hidden');
				//两个预览窗口赋值
				$('.crop').children('img').attr('src',data['url']+'?random='+Math.random());
				//隐藏表单赋值
				$('#img_src').val(data['url']);
				$('#picName').val(data['picName']);			
				//绑定需要裁剪的图片
				var img = $('<img />');
				preview.append(img);
				preview.children('img').attr('src',data['url']+'?random='+Math.random());
				var crop_img = preview.children('img');
				crop_img.attr('id',"cropbox").show();
				var img = new Image();
				img.src = data['url']+'?random='+Math.random();
				//根据图片大小在画布里居中
				img.onload = function(){
					var img_height = 0;
					var img_width = 0;
					var real_height = img.height;
					var real_width = img.width;
					if(real_height > real_width && real_height > 200){
						var persent = real_height / 200;
						real_height = 200;
						real_width = real_width / persent;
					}else if(real_width > real_height && real_width > 200){
						var persent = real_width / 200;
						real_width = 200;
						real_height = real_height / persent;
					}
					if(real_height < 200){
						img_height = (200 - real_height)/2;	
					}
					if(real_width < 200){
						img_width = (200 - real_width)/2;
					}
					preview.css({width:(200-img_width)+'px',height:(200-img_height)+'px'});
					preview.css({paddingTop:img_height+'px',paddingLeft:img_width+'px'});			
				}
				//裁剪插件
				$('#cropbox').Jcrop({
		            bgColor:'#333',   //选区背景色
		            bgFade:true,      //选区背景渐显
		            fadeTime:1000,    //背景渐显时间
		            allowSelect:false, //是否可以选区，
		            allowResize:true, //是否可以调整选区大小
		            aspectRatio: 1,     //约束比例
		            minSize : [100,100],//可选最小大小
		            boxWidth : 200,		//画布宽度
		            boxHeight : 200,	//画布高度
		            onChange: showPreview,//改变时重置预览图
		            onSelect: showPreview,//选择时重置预览图
		            setSelect:[ 0, 0, 100, 100],//初始化时位置
		            onSelect: function (c){	//选择时动态赋值，该值是最终传给程序的参数！
			            $('#x').val(c.x);//需裁剪的左上角X轴坐标
			            $('#y').val(c.y);//需裁剪的左上角Y轴坐标
			            $('#w').val(c.w);//需裁剪的宽度
			            $('#h').val(c.h);//需裁剪的高度
		          }
		        });
				
				//重新上传,清空裁剪参数
				var i = 0;
				$('.reupload-img').click(function(){
					$('#preview-hidden').find('*').remove();
					$('#preview-hidden').hide().addClass('hidden').css({'padding-top':0,'padding-left':0});
				});
		     }
		});
		//提交表单
		$('.j_post_btn').click(function(){
			
				//由于GD库裁剪gif图片很慢，所以长时间显示弹出框
				//createAlertbox('操作成功','图片处理中，请稍候……');
				$('#desc').val($('.j_ba_description').html());
				$('#forum_card_form').submit();
			
		});
		//预览图
		function showPreview(coords){
			var img_width = $('#cropbox').width();
			var img_height = $('#cropbox').height();
			  //根据包裹的容器宽高,设置被除数
			  var rx = 100 / coords.w;
			  var ry = 100 / coords.h; 
			  $('#crop-preview-100').css({
			    width: Math.round(rx * img_width) + 'px',
			    height: Math.round(ry * img_height) + 'px',
			    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
			    marginTop: '-' + Math.round(ry * coords.y) + 'px'
			  });
			  rx = 60 / coords.w;
			  ry = 60 / coords.h;
			  $('#crop-preview-60').css({
			    width: Math.round(rx * img_width) + 'px',
			    height: Math.round(ry * img_height) + 'px',
			    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
			    marginTop: '-' + Math.round(ry * coords.y) + 'px'
			  });
		}
	})
	
</script>