<!DOCTYPE html>
<html>
<head>
    <title>实习吧主协议</title>
    <meta charset="utf-8">
    <style>
        html, body {margin: 3px; padding: 0; font-size: 12px; font-family: Arail, "微软雅黑", serif,"宋体";}
        ol, ul {
            margin: 0 0 5px 20px;
            padding: 0; list-style-position: inside;}
        h1 {margin: 0 0 5px; padding: 0; font-size: 14px; font-weight: normal; line-height: 1.5em;}
        h2 {margin: 0; padding: 0; font-size: 12px; font-weight: normal; line-height: 2em;}
        ol li {line-height: 2em;}
        p {margin: 0; padding: 0; line-height: 2em;}
    </style>
</head>
<body>
<h1>吧主协议</h1>
<h2>一、 吧主的设置 </h2>
<p>1.1 除百度官方管理的贴吧外，任何贴吧的吧主均需要由用户自行向百度贴吧管理组提交申请。</p>
<h2>二、 吧主的任免</h2>
<p>2.1 吧主的任期不限，由百度贴吧管理组负责执行吧主的任免。</p>
<p>2.2 吧主须接受百度贴吧管理组的指导。 </p>
<p>2.3 每个贴吧最多不超过三名（含三名）吧主。 </p>
<h2>三、 吧主的权利与义务</h2>
<p>3.1 贴吧吧主违反以下协议中任意一条款，百度贴吧有权对其关闭部分吧主权限、暂停或者直至删除其帐号。</p>
<ol>
    <li>公共贴吧（除个人贴吧以外的其他贴吧）吧主，须以“建设贴吧，发展贴吧”为己任。着重在贴吧内容建设上、言论导向上发挥应有的模范带头作用，禁止灌水、复制粘贴无意义贴子、恶意签到等，否则贴吧管理组有权对其进行评估做撤销处理。</li>
    <li>吧主须积极登录所管辖的贴吧，原则上每周在所管辖贴吧的活动时间不少于15小时。</li>
    <li>吧主有权对所管辖贴吧内存在的不良信息（如广告、辱骂、猥亵、色情等违反国家法律法规，或违反百度贴吧协议及吧规的内容）进行处理。</li>
    <li>严禁吧主滥用管理权限，无故封锁正常ID，删除网友正常发言；将违反国家法律法规、违反贴吧协议、不符合贴吧版面主题、或不适当的内容设置为精品贴、置顶贴、精品区分类、友情贴吧、名人堂、贴吧档案、图片库、视频、自定义链接（自定义链接严禁设置带有商业色彩、广告性质的内容）。</li>
    <li>严禁吧主在未征得贴吧用户同意情况下，擅自将对方设置为本贴吧的小吧主或图片小编。</li>
    <li>严禁吧主利用管理权限，为任何组织、机构、企事业单位或个人谋取利益；一经发现，贴吧管理组有权撤销其吧主权限。</li>
    <li>严禁吧主组织或参与任何违反百度贴吧协议的行为，如爆吧，刷屏，恶意灌水，人身攻击、发布人肉信息等。</li>
    <li>严禁吧主：私自解封管理员所封禁的ID或IP，删除或指使小吧主删除管理员所发布的公告或通知，在贴吧中恶意封禁管理员账号（如带有“百度或贴吧”关键词并带有实名认证标识的ID等）。</li>
    <li>贴吧推广标识是经过百度官方实名认证的，严禁吧务团队恶意删除带有贴吧推广标识的回复楼层或封禁相关账号。</li>
    <li>吧主须自觉维护百度利益，配合贴吧管理组的各项工作。</li>
    <li>当有用户申请吧主时，现任吧主须积极正面地做出答复。</li>
    <li>严禁使用多个ID担任同一个贴吧吧主、小吧主。</li>
    <li>吧主帐号严禁转让或租售。</li>
    <li>吧主之间产生的纠纷，须积极沟通和交流，共同寻求解决办法。</li>
    <li>严禁利用产品漏洞对百度或百度用户造成不良影响。</li>
    <li>在贴吧有一名或多名吧主情况下，吧主均辞职或被撤销管理权限的，该吧最后一名吧主离任24小时内，无新任吧主上任，则该吧所有原设置的小吧主、图片小编、视频小编等将被免除权限。如在24小时之内有新吧主上任，新吧主有权保留或更换原吧主设置的小吧主、图片小编、视频小编等。</li>
    <li>吧主不得实施对百度公司的一切不恰当的行为。</li>
    <li>吧主对所知悉内容或信息具有保密义务，不得泄露百度与其和贴吧用户沟通的内容。</li>
</ol>
</body>
</html>
