<!DOCTYPE html>
<html>
 <head> 
  <include file="Public:top" />
  <title>Posutoba贴吧</title>
  <import type="css" file="theme,common,index" basepath="__PUBLIC__/common/css" /> 
 </head>
 <body class="skin_0">
  <include file="Public:userbar" />
  <div class="wrap1">
   <div class="wrap2">
    <div class="page-container">
     <div class="search-sec">
      <include file="Public:head" />
     </div>
     <div class="main-sec clearfix">
    <div class="top-sec clearfix">
   <div id="rec_left" class="rec_left"> 
    <div class="carousel_wrap tbui_slideshow_container" id="carousel_wrap" style="width: 690px; height: 180px;"> 
     <ul class="img_list tbui_slideshow_list slides" style="width: 690px; height: 180px; left: 0px;"> 
      <!-- 列表1 -->
      <li class="img_list_3pic tbui_slideshow_slide"> 
      <volist name="slide_list" id="vo" offset="0" length="3">
      <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}" target="_blank" class="img_box carousel_pic_wrap"> 
        <div class="carousel_large_pic"> 
         <img height="180" width="225" src="{$vo.thread_image}" /> 
         <div class="img_bg"></div> 
         <div class="img_txt"> 
          <p class="img_title">{$vo.thread_title|mysubstr=0,12}</p> 
         </div> 
        </div> </a> 
       </volist>
        </li> 
        <!-- 列表2 -->
      <li class="img_list_3pic tbui_slideshow_slide"> 
      <volist name="slide_list" id="vo" offset="3" length="3">
      <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}" target="_blank" class="img_box carousel_pic_wrap"> 
        <div class="carousel_large_pic"> 
         <img height="180" width="225" src="{$vo.thread_image}" /> 
         <div class="img_bg"></div> 
         <div class="img_txt"> 
          <p class="img_title">{$vo.thread_title|mysubstr=0,12}</p> 
         </div> 
        </div> </a> 
        </volist>           
        </li> 
      <li class="img_list_1pic tbui_slideshow_slide"> 
      <a class="img690" target="_blank" href="__ROOT__"> <img height="180" width="690" src="__PUBLIC__/common/images/xinciyuan0129.jpg" /> </a> </li> 
     </ul> 
    </div> 
    <div class="top_progress_bar"> 
    </div> 
   </div> 

   <div class="rec_right rec_login" id="rec_right">
    <div id="in_forum_num" class="num_list num_list02">
     <span class="num_span"><i class="num_icon" style="{$interest_num.a}"></i></span>
     <span class="num_break"><i class="num_space"></i></span>
     <span class="num_span"><i class="num_icon" style="{$interest_num.b}"></i></span>
     <span class="num_span"><i class="num_icon" style="{$interest_num.c}"></i></span>
     <span class="num_span"><i class="num_icon" style="{$interest_num.d}"></i></span>
     <span class="num_break"><i class="num_space"></i></span>
     <span class="num_span"><i class="num_icon" style="{$interest_num.e}"></i></span>
     <span class="num_span"><i class="num_icon" style="{$interest_num.f}"></i></span>
     <span class="num_span"><i class="num_icon" style="{$interest_num.g}"></i></span>
    </div>
    <?php if(getUid()==null):?>
    <a href="javascript:void(0)" class="btn_login" onclick="login()"></a>
    <?php endif;?>
   </div>
  </div>
      <div class="content-sec clearfix">
       <div class="left-sec"> 
       <?php if(getUid()!=null):?>
        <div id="my_tieba_mod" class="region_bright my_tieba_mod  balv_mod_index">
         <div class="region_header">
          <div class="region_op j_op"> 
          </div>
          <div class="region_title region_icon j_title">
           我在贴吧
          </div>
         </div>
         <div class="region_cnt"> 
          <div class="user_profile clearfix " id="user_info">
           <div class="profile_left user_head">
            <a style="" href="{:U('Home/main',array('id'=>getUid()))}" target="_blank"><img class="head_img" src="{:U('Home/getAvatar',array('uid'=>getUid()))}" /></a>
           </div>
             
           <div class="profile_right user_name"> 
            <a href="{:U('Home/main',array('id'=>getUid()))}" target="_blank"><?php echo getUsername()?></a>
           </div>
           
          </div> 
         </div>
         <div class="region_footer"></div>
        </div>
        <?php endif;?>
        <div class="left-cont-wraper" id="left-cont-wraper">
         <?php if(getUid()!=null):?>
         <?php if($forum_list!=null):?>
         <div class="u-f-t">
          <div class="title">
           常逛的吧
          </div>
          <div class="edit color2" id="addforum" style="display:none;"></div>
         </div>
         <div class="u-f-w">
          <div class="clearfix" id="likeforumwraper">
          <volist name="forum_list" id="vo" offset="0" length="8">
           <a target="_blank" href="{:U('Forum/index',array('id'=>$vo['forum_id']))}" class="u-f-item {$vo.sign_status}">{$vo.forum_name}<span class="forum_level lv{$vo.level_level}"></span></a>
          </volist>
          </div>
          <div class="more-wraper" id="moreforum" style="display:block">
           <a href="{:U('Home/forumList',array('id'=>getUid()))}" class="more"><span class="more-txt">查看更多</span><span class="more-triangle"></span></a>
          </div>
         </div>
         <?php endif;?>
         <?php endif;?>
        
         <div class="u-f-t ufw-gap">
          <div class="title">
           贴吧分类
          </div>
          <div class="gap" style="width:125px"></div>
         </div>
         <div class="f-d-w" id="f-d-w">
          
          <?php for($i=0;$i<13;$i++):?>
          <div class="f-d-item <?php if($i==0):?>first-border-top<?php endif;?>" data-pid="{$class_list[$i][0]['parent_id']}">
           <div class="f-d-item-content">
            <div class="title">
             <span class="typeicon {$class_list[$i][0]['class_icon']}"></span>
             <a title="{$class_list[$i][0]['class_name']}" target="_blank" href="{:U('Forum/forumPark',array('pid'=>$class_list[$i][0]['parent_id'],'cid'=>0))}">{$class_list[$i][0]['class_name']}</a>
            </div>
            <div class="directory-wraper">
            <foreach name="class_list[$i]" item="vo">
             <?php if($key>0):?>            
             <a title="{$vo.class_name}" target="_blank" href="{:U('Forum/forumPark',array('pid'=>$class_list[$i][0]['parent_id'],'cid'=>$vo['class_id']))}">{$vo.class_name}</a>
             <?php endif;?>
            </foreach>
            </div>
           </div>
          </div>
          
          <?php endfor;?>
          
          <div class="all-wraper">
           <a target="_blank" href="{:U('Forum/forumClass')}" class="all"><span class="more-txt">查看全部</span></a>
          </div>
          
     <div style="position:relative ; z-index: 1000; width: 666px; height: auto; display: none;" class="d-up-frame">
   <div class="pop-up-container">
    <div class="directory-pop-frame">
     <div class="d-title">
      <!-- 这里放标题 -->
     </div>
     <div class="item-wraper">      
     <!-- 这里用来放目录 -->    
     </div>
     <div class="rec-forum">
      <div class="rec-icon">
       推荐吧
      </div>
      <div class="rec-forum-cont">
      <!-- 这里用来放贴吧 -->
      </div>
     </div>
    </div>
   </div>
  </div>
         </div>
        </div>
       </div>
       <div class="right-sec clearfix">
       
        <div class="r-left-sec">   
         
         <div class="sub_nav_wrap clearfix" id="sub_nav_wrap" alog-alias="sub_nav_wrap" alog-group="sub_nav_wrap">
          <ul class="sub_nav_list">
           <li style="margin-left:8px"><a href="javascript:void(0)" id="j_remen_nav" class="nav_li nav_li_all cur">热门动态</a></li>         
          </ul> 
        
         </div>
         
         <div id="like-tag-nav">
          <span></span>
          <a href="#" class=""></a>
         </div>
         <div id="info-section"></div>
         <ul class="new_list" pagesize="10">
          <foreach name="thread_list" item="vo">
          <li class="clearfix j_feed_li thread_image">
           <div class="n_right">
            <div>
             <div class="title-tag-wraper">
              <div class="tag tag-style{$vo.style_id}" title="点击查看与{$vo.forum_class.class_name}相关贴子">
               <a href="{:U('Forum/forumPark',array('pid'=>$vo['forum_class']['parent_id'],'cid'=>$vo['forum_class']['class_id']))}" class="tag-name">{$vo.forum_class.class_name}</a>
               <a href="javascript:void(0)" class="triangle"></a>
              </div>
              <a href="{:U('Forum/index',array('id'=>$vo['forum_id']))}" target="_blank" class="n_name" title="{$vo.forum_name}">{$vo.forum_name}吧</a>
             </div>
             <div class="thread-name-wraper">
              <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}" target="_blank" class="title" title="{$vo.thread_title}">{$vo.thread_title}</a>
              <span class="list-post-num"><em>{$vo.reply_count}</em><span class="list-triangle-border"></span><span class="list-triangle-body"></span></span>
             </div>
            </div>
            <div class="n_txt">
             {$vo.post_content_convert|mysubstr=0,80}
            </div>            
            {$vo.thread_image}
         <!-- 大图start -->
         <div class="media_box" style="display:none;">
   <div class="p_tools">
    <a class="p_putup" href="javascript:void(0)" >收起</a>
    <span class="line">|</span>
    <a class="tb_icon_ypic j_ypic" href="#" target="_blank">查看大图</a>
   </div>
   <div class="media_bigpic_wrap">
    <img class="j_large_pic" src="#" style="max-height: 250px;max-width:400px;"/>
   </div>
   <div class="bigpic_display_pre bigpic_turn j_display_pre" style="display: none;"></div>
   <div class="bigpic_display_next bigpic_turn j_display_next" style="display: block;"></div>
  </div>
  <!-- 大图end -->
             
            <div class="n_reply">
             <a href="{:U('Home/main',array('id'=>$vo['user_id']))}" title="主题作者" target="_blank" class="post_author">{$vo.user_name}</a>
             <span class="time">{$vo.last_date|convertDate=###,'intel'}</span>
            </div>
           </div>
           </li>
           </foreach>
   
         </ul>
        

        </div>
        <div class="r-right-sec">
         <div class="right_wrap" id="right_wrap">
          <div class="item jingxuan">
           <div class="item_hd">
            <span class="title">贴吧精选</span>
           </div>
          </a>
           <foreach name="hot_thread_list" item="vo">
             <ul class="notice_list"> 
            <li> <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}" target="_blank">{$vo.thread_title}</a> </li> 
           </ul> 
             </foreach>        
          </div>
          <div> 
           
          </div> 
          
          <div alog-alias="notice_item" id="notice_item" class="item notice_item"> 
           <div class="item_hd"> 
            <span class="title">公告板</span> 
           </div>           
           <ul class="notice_list"> 
           <foreach name="notice_list" item="vo">
            <li> <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}" target="_blank">{$vo.thread_title}</a> </li> 
           </foreach>
           </ul> 
          </div> 
          <div class="item platform_item">
          <div class="item_hd">
           <span class="title">贴吧推荐</span>
          </div>
          <ul class="platform_item_list"> 
            <foreach name="hot_forum_list" item="vo">
           <li class="platform_item_item">
           <a class="pii_img_w" href="{:U('Forum/index',array('id'=>$vo['forum_id']))}" target="_blank"> 
           <img src="{:U('Forum/getAvatar',array('fid'=>$vo['forum_id']))}" title="" alt="" />
             <!-- <div class="pii_bluev pii_bg"></div> --></a>
            <div class="pii_right">
             <a href="javascript:void(0)" class="pii_fbtn pii_bg {$vo.concern_btn_css}" data-pid="{$vo.forum_id}" id="like_forum_btn"></a>
             <a href="{:U('Forum/index',array('id'=>$vo['forum_id']))}" title="{$vo.forum_name}吧" class="h6" target="_blank">{$vo.forum_name}吧</a>
             <p>{$vo.forum_desc}</p>
            </div></li> 
            </foreach>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="bottom-bg"></div>
    </div>
   </div>
   <div class="footer"> 
     <include file="Public:footer" />
   </div> 
  </div> 
  </div>
 <script>var PUBLIC="__PUBLIC__";var MODULE="__MODULE__";</script>
 <import type="js" file="libs,common,jquery#form,jquery#showmore,jquery#flexslider" basepath="__PUBLIC__/common/js" />
 <script>
 $(function(){
	    $('.tbui_slideshow_container').flexslider({
	    	controlsContainer: '.top_progress_bar',
		    });
	 }); 
  </script>
 <script>
  $(function(){
		var offset = 1500;	
		$(window).scroll(function(){
			if( $(this).scrollTop() > offset ) {
				$('#left-cont-wraper').addClass('left-cont-fixed');
				$('#right_wrap').addClass('right-wrap-fixed');
			}
			else{
				$('#left-cont-wraper').removeClass('left-cont-fixed');
				$('#right_wrap').removeClass('right-wrap-fixed');
			}			
		});	
	});
  </script>
   <script>
   $(function(){
	   $.showMore(".new_list",1);
	 });
    </script>
    <include file="Public:bottom" />
</body>
</html>