  <div class="block_dialog dialogJ dialogJfix dialogJshadow ui-draggable" style="z-index: 50001; width: 556px; display:none;">
   <div class="uiDialogWrapper">
    <div class="dialogJtitle" style="cursor: move;">
     <span class="dialogJtxt">封禁操作</span>
     <a title="关闭本窗口" class="dialogJclose" href="javascript:void(0)">&nbsp;</a>
    </div>
    <div class="dialogJcontent">
     <div id="dialogJbody" class="dialogJbody">
      <div class="block_user_wrapper"> 
       <ul class="b_u_items"> 
        <li class="b_u_items_outer"> <label>用户名</label>
         <div class="b_username">
          XX
         </div> </li> 
        <li class="b_u_items_outer"> <label>封禁时长:</label> 
         <div class="b_block_time"> 
          <select class="b_select_time" style="display: block;"> 
          <option data-day="1">1天</option> 
          <option data-day="3">3天</option>
          <option data-day="10">10天</option> 
          </select> 
         </div> </li>         
       </ul> 
       <div class="block_btns"> 
        <div class="b_id_btn" id="submit_block_user">
         封禁ID
        </div> 
       </div> 
      </div>
     </div>
    </div>
   </div>
  </div>
