  <div class="delete_dialog dialogJ dialogJfix dialogJshadow" style="z-index: 50003; width: 300px; left: 520px; top: 126.5px;display:none;"> 
   <div class="uiDialogWrapper">
    <div class="dialogJcontent">
     <div id="dialogJbody" class="dialogJbody">
      <div style="margin:15px auto 0;text-align:center;">
       确认删除?
       <div></div>
      </div>
     </div>
    </div>
    <div class="dialogJanswers">
     <input type="button" value="确定" class="dialogJbtn" id="submit_del_post" /> 
     <input type="button" value="取消" class="dialogJbtn j_btn no_post" />
    </div>
   </div>
  </div>