
  <div id="login_wrapper" class="login_wrapper login_wrapper_rightmiddle login_wrapper_beforeshow">
   <div class="login_tip_wrapper j_login_tip_wrapper"></div>
   <div id="pass_loginLite_poptip0" class="login_poptip"></div>
   <div class="login_title">
    <span>登录百度帐号</span>
   </div>
   <div class="login_form tang-pass-login" id="TANGRAM__PSP_5__">
    <form id="TANGRAM__PSP_5__form" class="pass-form pass-form-normal" method="POST" autocomplete="off" action="{:U('User/login')}">
     <p id="TANGRAM__PSP_5__errorWrapper" class="pass-generalErrorWrapper"><span id="TANGRAM__PSP_5__error" class="pass-generalError pass-generalError-error"></span></p>
     <p id="TANGRAM__PSP_5__userNameWrapper" class="pass-form-item pass-form-item-userName" style="display:"><label for="TANGRAM__PSP_5__userName" id="TANGRAM__PSP_5__userNameLabel" class="pass-label pass-label-userName">用户名</label><input id="TANGRAM__PSP_5__userName" type="text" name="username" class="pass-text-input pass-text-input-userName" autocomplete="off" placeholder="手机/邮箱/用户名" /><span id="TANGRAM__PSP_5__userName_clearbtn" class="pass-clearbtn pass-clearbtn-userName" style="display:none;"></span><span id="TANGRAM__PSP_5__userNameTip" class="pass-item-tip pass-item-tip-userName" style="display:none"><span id="TANGRAM__PSP_5__userNameTipText" class="pass-item-tiptext pass-item-tiptext-userName"></span></span></p>
     <p id="TANGRAM__PSP_5__passwordWrapper" class="pass-form-item pass-form-item-password" style="display:"><label for="TANGRAM__PSP_5__password" id="TANGRAM__PSP_5__passwordLabel" class="pass-label pass-label-password">密码</label><input id="TANGRAM__PSP_5__password" type="password" name="password" class="pass-text-input pass-text-input-password" placeholder="密码" /><span id="TANGRAM__PSP_5__password_clearbtn" class="pass-clearbtn pass-clearbtn-password" style="display:none;"></span><span id="TANGRAM__PSP_5__passwordTip" class="pass-item-tip pass-item-tip-password" style="display:none"><span id="TANGRAM__PSP_5__passwordTipText" class="pass-item-tiptext pass-item-tiptext-password"></span></span></p>
     <p id="TANGRAM__PSP_5__memberPassWrapper" class="pass-form-item pass-form-item-memberPass"><input id="TANGRAM__PSP_5__memberPass" type="checkbox" name="memberPass" class="pass-checkbox-input pass-checkbox-memberPass" checked="checked" /><label for="TANGRAM__PSP_5__memberPass" id="TANGRAM__PSP_5__memberPassLabel" class="">下次自动登录</label></p>
     <p id="TANGRAM__PSP_5__submitWrapper" class="pass-form-item pass-form-item-submit"><input id="TANGRAM__PSP_5__submit" type="submit" value="登录" class="pass-button pass-button-submit" /><a class="pass-reglink" href="{:U('User/register?u='.base64_encode('__SELF__'))}" target="_blank">立即注册</a><a class="pass-fgtpwd" href="https://passport.baidu.com/?getpassindex&amp;tpl=tb&amp;u=http%3A%2F%2Ftieba.baidu.com%2Fp%2F3500183532" target="_blank">忘记密码？</a></p>
    </form>
   </div>
   <div id="TANGRAM__PSP_5__pass_b2c" style="display:none;"></div>
  </div>
