<!DOCTYPE html>
<html>
 <head>
  <include file="Public:top" />
  <title>吧务审批_{$forum_info.forum_name}吧</title>
  <import type="css" file="theme,common,admin_common,admin_manager" basepath="__PUBLIC__/common/css"/>  
 </head>
 <body class="manager_page">
  <include file="Public:userbar" />
  <header class="head">
   <include file="Public:head" />
  </header>
  <div class="message_container">
   <div class="page_message" id="page_message"></div>
  </div>
  <!--[if lte IE 7]><div class="ie_height_hacker"></div><![endif]-->
  <div id="container" class="container clearfix"> 
   <include file="Admin:left" />
   <div class="main_content"> 
    <div class="panel" style="border-bottom:0">
     <h3>吧务审批</h3>
     <div class="panel_content" style="padding-bottom:50px;">    

     </div>
    </div>
    <div class="panel panel_margin pos-rel">
     <div class="bawu-tab-w">
      <a class="tab cur-tab" href="{:U('Admin/managerPendList',array('id'=>$forum_info['forum_id']))}">待审批吧务</a>
      <a class="tab left-t" href="{:U('Admin/managerPendList',array('id'=>$forum_info['forum_id'],'is_pass'=>1))}">已审批吧务</a>
     </div> 
     <?php if($manager_pend_list != null):?>
     <table class="data_table">
      <thead>
       <tr>
        <th style="width:81px;" class="left_cell">用户名</th>
        <th style="width:37px;">职务</th>
        <th style="width:99px;">申请时间</th>
        <th style="width:246px;">申请人资料</th>
        <th style="width:159px;">申请感言</th>
        <?php if($_GET['is_pass']==0):?>
        <th style="width:149px;">操作</th>
      <?php endif;?>
       </tr>
      </thead>
      <tbody> 
        <foreach name="manager_pend_list" item="vo">
       <tr>
        <td class="left_cell"><span class="user-name-icon">{$vo.user_name}</span></td>
        <td>{$vo.apply_type_cn}</td>
        <td>{$vo.apply_date|convertDate=###,'without_second'}</td>
        <td class="left_cell">
         <div>
          吧龄：{$vo.user_age}年
         </div>
         <div>
          发言数：{$vo.post_count}
         </div>
         <div>
          会员等级：{$vo.user_level.0}级
         </div>
        </td>
        <td class="left_cell">{$vo.apply_content}</td>
        <?php if($_GET['is_pass']==0):?>
        <td><button id="j_pend_success" style="margin-top:30px;" class="success" data-id="{$vo.data_id}">批准</button><button id="j_pend_fail" style="margin-top:30px;" class="fail" data-id="{$vo.data_id}">拒绝</button></td>
      <?php endif;?>
       </tr> 
     </foreach>
      </tbody>
     </table>
   <?php else:?>
   <div class="no_data">
     <img alt="抱歉，暂无数据或未搜索到符合条件的记录" src="__PUBLIC__/common/images/no_data.png"></div>
     <?php endif;?>
     <div class="tbui_pagination tbui_pagination_right">
      <ul>
       {$page}
      </ul>
      <?php if($total_page>1):?>
      <span class="tbui_total_page">共{$total_page}页</span>
      <input class="ui_textfield pagination_input" id="manage_jump_input" type="text" name="pn" />
      <a href="javascript:void(0)" class="jump_btn" id="manage_jump_btn"><span><em>跳转</em></span></a>
      <?php endif;?>
     </div>
    </div> 
   </div>
  </div>
  <div id="tbLcsContainer"></div>
  <script>var PUBLIC="__PUBLIC__";var MODULE="__MODULE__";</script>
  <import type="js" file="libs,common,jquery#form" basepath="__PUBLIC__/common/js"/>
  <script>
     $(function(){
             setAdminNav();
         });
 </script>
  <script>
     var page_name = '<?php echo ACTION_NAME?>';
 </script>
  <include file="Public:bottom" />
  <include file="Post:block" />
  
 </body>
</html>