<!DOCTYPE html>
<html>
<head>
<include file="Public:top" />
<title>基本资料_i贴吧</title>
<import type="css" file="theme,common,itieba,profile,upload,jquery#Jcrop#min,uploadify" basepath="__PUBLIC__/common/css" />
</head>
<body>
  <include file="Public:userbar" />
  <div class="wrap1">
   <div class="wrap2">
    <include file="Public:head" />
    <div id="main_wrapper" class="main_wrapper"> 
     <div id="main_back_img"> 
      <div id="main_back_bottom"> 
       <div id="container" class="ibody clearfix"> 
        <div class="w750 fleft">
         <div id="content"> 
         
          <div id="user"> 
           <div style="padding:30px;"> 
             <table> 
              <tbody>
               <tr> 
                <td colspan="2"> 
                 <div id="TBNP" style="display: block;"> 
                  <div class="op-pic"> 
                   <div class="l-pic">
                    <h4 style="margin-bottom:0">当前头像</h4>
                    <img style="border:2px solid #ccc" src="{:U('Home/getAvatar',array('uid'=>getUid()))}" /> 
                   </div> 
                   <div class="r-pic">
                    <h4 style="margin-bottom:0">设置新头像</h4>
    <div class="upload-main">
<!-- 修改头像 -->
<form action="{:U('Home/setProfile')}" method="post" id="profile_form" class="update-pic cf">
	<div class="upload-area">
		<input type="file" id="user-pic">
		<div class="file-tips">支持JPG,PNG,GIF，图片小于1MB，尺寸不小于100*100,真实高清头像更受欢迎！</div>
		<div class="preview hidden" id="preview-hidden"></div>
	</div>
	<div class="preview-area">
		<input type="hidden" id="x" name="x" />
		<input type="hidden" id="y" name="y" />
		<input type="hidden" id="w" name="w" />
		<input type="hidden" id="h" name="h" />
		<input type="hidden" id='img_src' name='src'/>
		<input type="hidden" id='picName' name='picName'/>
		<input type="hidden" id="sex" name="sex" />
	</div>
</form>
<!-- /修改头像 -->
</div>
                   </div> 
                  </div> 
                 </div> 
                 </td> 
               </tr> 
               
               <tr> 
                <td class="ti">设置性别：</td> 
                <td style="line-height:24px"> 
                 <ul class="notify_shield" id="sex_ul"> 
                  <li><input id="male" type="radio" name="sex_radio" data-value="1" /><label for="male">男</label></li> 
                  <li><input id="female" type="radio" name="sex_radio" data-value="0" /><label for="female">女</label></li> 
                 </ul> </td> 
               </tr> 
               <tr> 
                <td></td> 
                <td> <input id="btn_save" src="__PUBLIC__/common/images/user_save.png" type="image" />&nbsp;&nbsp;&nbsp;&nbsp; <input id="btn_cancel" src="__PUBLIC__/common/images/cancel_user.png" type="image" /> </td> 
               </tr> 
              </tbody>
             </table> 

           </div> 
          </div> 
         </div>
        </div> 
        <include file="Home:right" />
       </div> 
       <div id="footer" class="footer"> 
       <include file="Public:footer" />
       </div> 
      </div> 
     </div> 
    </div> 
   </div>
  </div>
  <script>var PUBLIC="__PUBLIC__";var MODULE="__MODULE__";</script>
  <import type="js" file="libs,common,jquery#form,jquery#uploadify#min,jquery#Jcrop#min" basepath="__PUBLIC__/common/js" />
  <script>
	$(function(){
		//上传头像(uploadify插件)
		$("#user-pic").uploadify({
			'fileObjName':'user_avatar',
			'queueSizeLimit' : 1,
			'removeTimeout' : 0.5,
			'preventCaching' : true,
			'multi'    : false,
			'swf' 			: '__PUBLIC__/common/images/uploadify.swf',
			'uploader' 		: '{:U("Home/uploadImg")}',
			'buttonText' 	: '<i class="userup-icon"></i>上传头像',
			'width' 		: '200',
			'height' 		: '200',
			'fileTypeExts'	: '*.jpg; *.png; *.gif;',
			'onUploadSuccess' : function(file, data, response){
				var data = $.parseJSON(data);
				if(data['status'] == 0){
					createAlertbox('发生错误',data['info']);
					return;
				}

				var preview = $('.upload-area').children('#preview-hidden');
				preview.show().removeClass('hidden');
				//两个预览窗口赋值
				$('.crop').children('img').attr('src',data['url']+'?random='+Math.random());
				//隐藏表单赋值
				$('#img_src').val(data['url']);
				$('#picName').val(data['picName']);			
				//绑定需要裁剪的图片
				var img = $('<img />');
				preview.append(img);
				preview.children('img').attr('src',data['url']+'?random='+Math.random());
				var crop_img = preview.children('img');
				crop_img.attr('id',"cropbox").show();
				var img = new Image();
				img.src = data['url']+'?random='+Math.random();
				//根据图片大小在画布里居中
				img.onload = function(){
					var img_height = 0;
					var img_width = 0;
					var real_height = img.height;
					var real_width = img.width;
					if(real_height > real_width && real_height > 200){
						var persent = real_height / 200;
						real_height = 200;
						real_width = real_width / persent;
					}else if(real_width > real_height && real_width > 200){
						var persent = real_width / 200;
						real_width = 200;
						real_height = real_height / persent;
					}
					if(real_height < 200){
						img_height = (200 - real_height)/2;	
					}
					if(real_width < 200){
						img_width = (200 - real_width)/2;
					}
					preview.css({width:(200-img_width)+'px',height:(200-img_height)+'px'});
					preview.css({paddingTop:img_height+'px',paddingLeft:img_width+'px'});			
				}
				//裁剪插件
				$('#cropbox').Jcrop({
		            bgColor:'#333',   //选区背景色
		            bgFade:true,      //选区背景渐显
		            fadeTime:1000,    //背景渐显时间
		            allowSelect:false, //是否可以选区，
		            allowResize:true, //是否可以调整选区大小
		            aspectRatio: 1,     //约束比例
		            minSize : [100,100],//可选最小大小
		            boxWidth : 200,		//画布宽度
		            boxHeight : 200,	//画布高度
		            onChange: showPreview,//改变时重置预览图
		            onSelect: showPreview,//选择时重置预览图
		            setSelect:[ 0, 0, 100, 100],//初始化时位置
		            onSelect: function (c){	//选择时动态赋值，该值是最终传给程序的参数！
			            $('#x').val(c.x);//需裁剪的左上角X轴坐标
			            $('#y').val(c.y);//需裁剪的左上角Y轴坐标
			            $('#w').val(c.w);//需裁剪的宽度
			            $('#h').val(c.h);//需裁剪的高度
		          }
		        });
				
				//重新上传,清空裁剪参数
				var i = 0;
				$('#btn_cancel').click(function(){
					$('#preview-hidden').find('*').remove();
					$('#preview-hidden').hide().addClass('hidden').css({'padding-top':0,'padding-left':0});
				});
		     }
		});

		$('#btn_save').click(function(){
			
			//由于GD库裁剪gif图片很慢，所以长时间显示弹出框
			//createAlertbox('操作成功','图片处理中，请稍候……');
			var sex=$("input[name='sex_radio']:checked").attr('data-value');
			$('#sex').val(sex);
			
			$('#profile_form').submit();
		
	});
		//预览图
		function showPreview(coords){
			var img_width = $('#cropbox').width();
			var img_height = $('#cropbox').height();
			  //根据包裹的容器宽高,设置被除数
			  var rx = 100 / coords.w;
			  var ry = 100 / coords.h; 
			  $('#crop-preview-100').css({
			    width: Math.round(rx * img_width) + 'px',
			    height: Math.round(ry * img_height) + 'px',
			    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
			    marginTop: '-' + Math.round(ry * coords.y) + 'px'
			  });
			  rx = 60 / coords.w;
			  ry = 60 / coords.h;
			  $('#crop-preview-60').css({
			    width: Math.round(rx * img_width) + 'px',
			    height: Math.round(ry * img_height) + 'px',
			    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
			    marginTop: '-' + Math.round(ry * coords.y) + 'px'
			  });
		}
	})
	
</script>
<include file="Public:bottom" />
 </body>
</html>