<!DOCTYPE html>
<html>
 <head>
  <include file="Public:top" />
  <title>回复我的_i贴吧</title> 
  <import type="css" file="theme,common,itieba,notify" basepath="__PUBLIC__/common/css" />  
 </head>
 <body>
  <include file="Public:userbar" />
 <div class="wrap1">
  <div class="wrap2">
 <include file="Public:head" />
  <div id="main_wrapper" class="main_wrapper"> 
   <div id="main_back_img"> 
    <div id="main_back_bottom"> 
     <div id="container" class="ibody clearfix"> 
      <div class="w750 fleft">
       <div id="content">
        <ul id="tab" class="tab_content"> 
         <li class="tab tab_cur"><a href="{:U('Home/replyMe',array('id'=>$user_info['user_id']))}" target="_self">回复我的</a></li> 
         <li class="tab "><a href="{:U('Home/storedThread',array('id'=>$user_info['user_id']))}" target="_self">收藏的贴子</a></li> 
        </ul> 
<!--     <ul id="sub_tab" class="sub_tab_content"> 
         <li b-type="all" class="sub_tab sub_tab_cur"><a href="#" onclick="return false" target="_self">全部</a></li> 
         <li b-type="bythread" class="sub_tab "><a href="#" onclick="return false" target="_self">按主题查看</a></li> 
         </ul>  -->
        <div id="feed" class="feed"> 
         <div class="feed_head">
          <!---->
         </div> 
         <?php if($reply_list!=null):?>
         <ul> 
         <foreach name="reply_list" item="vo">
          <li class="feed_item clearfix feed_replyme j_feed_replyme"> 
           <div class="feed_left j_del_ctrl clearfix"> 
            <div class="replyme_text clearfix j_replyme"> 
             <div class="replyme_user">
              <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}#{$vo.post_id}" target="_blank">{$vo.user_name}：</a>
             </div> 
             <div class="replyme_content">
              <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}#{$vo.post_id}" target="_blank">{$vo.post_content_convert}</a>
             </div> 
            </div> 
            <div class="feed_rich">
             <!---->
            </div> 
            <div class="feed_from">
              回复我的主题：“
             <a class="itb_thread" href="{:U('Post/index',array('id'=>$vo['thread_id']))}" title="{$vo.thread_title}" target="_blank">{$vo.thread_title}</a>” &gt; 
             <a class="itb_kw" href="{:U('Forum/index',array('id'=>$vo['forum_id']))}" target="_blank">{$vo.forum_name}吧</a> 
            </div> 
           </div>
           <div class="feed_right j_del_ctrl"> 
            <div class="feed_time">
             {$vo.post_date|convertDate=###,'without_year'}
            </div> 
            <div class="reply icon_reply">
            <!-- 
             <a href="#" onclick="return false;" class="reply_del">删除</a> -->
             <a href="{:U('Post/index',array('id'=>$vo['thread_id']))}#{$vo.post_id}" target="_blank">回复</a>
            </div> 
           </div> 
           </li>
           </foreach> 
        
         </ul> 
       <?php else:?>
       <div style="text-align: center;">
           <img src="__PUBLIC__/common/images/no_data.png"/>
          </div>
        <?php endif;?>
         <div class="feed_foot">
          <!---->
         </div> 
        </div> 
        <div id="pager" class="itb_pager"> 
         {$page}
        </div> 
       </div>
      </div> 
      <include file="Home:right" /> 
     </div> 
     <div id="footer" class="footer"> 
     <include file="Public:footer" />
     </div> 
    </div> 
   </div> 
  </div>
  </div>  
  </div>
  <script>var PUBLIC="__PUBLIC__";var MODULE="__MODULE__";</script>
  <import type="js" file="libs,common,jquery#form" basepath="__PUBLIC__/common/js" />
  <include file="Public:bottom" />  
 </body>
</html>